VEX_rev = 1.5;
*-------- begin GLOBAL
$GLOBAL;
    ref $EXPER = __@EXP_CODE@__;
*
* Nominal_start_date_UTC: __@NOMINAL_START@__
* Duration:               __@DURATION@__ hours
*                                                      +------------+
*                         PI revision number:          |    __@SCHEDULE_REVISION@__       |
*                                                      +------------+
*
*-------- end   GLOBAL
$EXPER;
  def __@EXP_CODE@__;
    exper_name          = __@EXP_CODE@__;
    exper_description   = "__@EXP_DESCR@__";
    exper_nominal_start = __@DATE_START@__; 
    exper_nominal_stop  = __@DATE_STOP@__;
    target_correlator   = VLBIDIFX;
    contact_name        = "__@SCHEDULER_NAME@__";
    scheduler_name      = "__@SCHEDULER_NAME@__";
    scheduler_email     = __@SCHEDULER_EMAIL@__;
  enddef;
*-------- end   $EXPER
*-------- begin $MODE
$MODE;
*
* __MODE_Definitions__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ 
*
  def __@HDS@__;
    ref $FREQ = __@HDS@___freq:Gs:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
    ref $BBC  = __@HDS@___bbc:Gs:Is:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
    ref $IF   = __@HDS@___if:Gs:Is:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
    ref $TRACKS           = VDIF_format:Gs:Is:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
    ref $ROLL             = NO_ROLL:Gs:Is:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
    ref $PHASE_CAL_DETECT = Default:Gs:Is:K2:Mg:Sa:Yj:Wf:Ws:Oe:Ow;
  enddef;
*-------- end   $MODE
*-------- begin $BBC
$BBC;
  def __@HDS@___bbc;
    BBC_assign = &BBC001 : 01 : &IF_1N;
    BBC_assign = &BBC002 : 02 : &IF_1N;
    BBC_assign = &BBC003 : 03 : &IF_1N;
    BBC_assign = &BBC004 : 04 : &IF_1N;
    BBC_assign = &BBC005 : 05 : &IF_1N;
    BBC_assign = &BBC006 : 06 : &IF_1N;
    BBC_assign = &BBC007 : 07 : &IF_1N;
    BBC_assign = &BBC008 : 08 : &IF_1N;
    BBC_assign = &BBC009 : 09 : &IF_3N;
    BBC_assign = &BBC010 : 10 : &IF_3N;
    BBC_assign = &BBC011 : 11 : &IF_3N;
    BBC_assign = &BBC012 : 12 : &IF_3N;
    BBC_assign = &BBC013 : 13 : &IF_3N;
    BBC_assign = &BBC014 : 14 : &IF_3N;
    BBC_assign = &BBC015 : 15 : &IF_3N;
    BBC_assign = &BBC016 : 16 : &IF_3N;
    BBC_assign = &BBC017 : 01 : &IF_1N;
    BBC_assign = &BBC018 : 02 : &IF_1N;
    BBC_assign = &BBC019 : 03 : &IF_1N;
    BBC_assign = &BBC020 : 04 : &IF_1N;
    BBC_assign = &BBC021 : 05 : &IF_1N;
    BBC_assign = &BBC022 : 06 : &IF_1N;
    BBC_assign = &BBC023 : 07 : &IF_1N;
    BBC_assign = &BBC024 : 08 : &IF_1N;
    BBC_assign = &BBC025 : 09 : &IF_3N;
    BBC_assign = &BBC026 : 10 : &IF_3N;
    BBC_assign = &BBC027 : 11 : &IF_3N;
    BBC_assign = &BBC028 : 12 : &IF_3N;
    BBC_assign = &BBC029 : 13 : &IF_3N;
    BBC_assign = &BBC030 : 14 : &IF_3N;
    BBC_assign = &BBC031 : 15 : &IF_3N;
    BBC_assign = &BBC032 : 16 : &IF_3N;
    BBC_assign = &BBC033 : 01 : &IF_1N;
    BBC_assign = &BBC034 : 02 : &IF_1N;
    BBC_assign = &BBC035 : 03 : &IF_1N;
    BBC_assign = &BBC036 : 04 : &IF_1N;
    BBC_assign = &BBC037 : 05 : &IF_1N;
    BBC_assign = &BBC038 : 06 : &IF_1N;
    BBC_assign = &BBC039 : 07 : &IF_1N;
    BBC_assign = &BBC040 : 08 : &IF_1N;
    BBC_assign = &BBC041 : 09 : &IF_3N;
    BBC_assign = &BBC042 : 10 : &IF_3N;
    BBC_assign = &BBC043 : 11 : &IF_3N;
    BBC_assign = &BBC044 : 12 : &IF_3N;
    BBC_assign = &BBC045 : 13 : &IF_3N;
    BBC_assign = &BBC046 : 14 : &IF_3N;
    BBC_assign = &BBC047 : 15 : &IF_3N;
    BBC_assign = &BBC048 : 16 : &IF_3N;
    BBC_assign = &BBC049 : 01 : &IF_1N;
    BBC_assign = &BBC050 : 02 : &IF_1N;
    BBC_assign = &BBC051 : 03 : &IF_1N;
    BBC_assign = &BBC052 : 04 : &IF_1N;
    BBC_assign = &BBC053 : 05 : &IF_1N;
    BBC_assign = &BBC054 : 06 : &IF_1N;
    BBC_assign = &BBC055 : 07 : &IF_1N;
    BBC_assign = &BBC056 : 08 : &IF_1N;
    BBC_assign = &BBC057 : 09 : &IF_3N;
    BBC_assign = &BBC058 : 10 : &IF_3N;
    BBC_assign = &BBC059 : 11 : &IF_3N;
    BBC_assign = &BBC060 : 12 : &IF_3N;
    BBC_assign = &BBC061 : 13 : &IF_3N;
    BBC_assign = &BBC062 : 14 : &IF_3N;
    BBC_assign = &BBC063 : 15 : &IF_3N;
    BBC_assign = &BBC064 : 16 : &IF_3N;
  enddef;
*-------- end $BBC
*-------- begin $FREQ
$FREQ;
  def __@HDS@___freq;
*
    chan_def = &X :   3480.40 MHz : L :  32.00 MHz : &Ch01 : &BBC001 : &L_cal;
    chan_def = &X :   3448.40 MHz : L :  32.00 MHz : &Ch02 : &BBC002 : &L_cal;
    chan_def = &X :   3384.40 MHz : L :  32.00 MHz : &Ch03 : &BBC003 : &L_cal;
    chan_def = &X :   3320.40 MHz : L :  32.00 MHz : &Ch04 : &BBC004 : &L_cal;
    chan_def = &X :   3224.40 MHz : L :  32.00 MHz : &Ch05 : &BBC005 : &L_cal;
    chan_def = &X :   3096.40 MHz : L :  32.00 MHz : &Ch06 : &BBC006 : &L_cal;
    chan_def = &X :   3064.40 MHz : L :  32.00 MHz : &Ch07 : &BBC007 : &L_cal;
    chan_def = &X :   3032.40 MHz : L :  32.00 MHz : &Ch08 : &BBC008 : &L_cal;
    chan_def = &X :   3480.40 MHz : L :  32.00 MHz : &Ch09 : &BBC009 : &L_cal;
    chan_def = &X :   3448.40 MHz : L :  32.00 MHz : &Ch10 : &BBC010 : &L_cal;
    chan_def = &X :   3384.40 MHz : L :  32.00 MHz : &Ch11 : &BBC011 : &L_cal;
    chan_def = &X :   3320.40 MHz : L :  32.00 MHz : &Ch12 : &BBC012 : &L_cal;
    chan_def = &X :   3224.40 MHz : L :  32.00 MHz : &Ch13 : &BBC013 : &L_cal;
    chan_def = &X :   3096.40 MHz : L :  32.00 MHz : &Ch14 : &BBC014 : &L_cal;
    chan_def = &X :   3064.40 MHz : L :  32.00 MHz : &Ch15 : &BBC015 : &L_cal;
    chan_def = &X :   3032.40 MHz : L :  32.00 MHz : &Ch16 : &BBC016 : &L_cal;
*
    chan_def = &X :   5720.40 MHz : L :  32.00 MHz : &Ch17 : &BBC017 : &L_cal;
    chan_def = &X :   5688.40 MHz : L :  32.00 MHz : &Ch18 : &BBC018 : &L_cal;
    chan_def = &X :   5624.40 MHz : L :  32.00 MHz : &Ch19 : &BBC019 : &L_cal;
    chan_def = &X :   5560.40 MHz : L :  32.00 MHz : &Ch20 : &BBC020 : &L_cal;
    chan_def = &X :   5464.40 MHz : L :  32.00 MHz : &Ch21 : &BBC021 : &L_cal;
    chan_def = &X :   5336.40 MHz : L :  32.00 MHz : &Ch22 : &BBC022 : &L_cal;
    chan_def = &X :   5304.40 MHz : L :  32.00 MHz : &Ch23 : &BBC023 : &L_cal;
    chan_def = &X :   5272.40 MHz : L :  32.00 MHz : &Ch24 : &BBC024 : &L_cal;
    chan_def = &X :   5720.40 MHz : L :  32.00 MHz : &Ch25 : &BBC025 : &L_cal;
    chan_def = &X :   5688.40 MHz : L :  32.00 MHz : &Ch26 : &BBC026 : &L_cal;
    chan_def = &X :   5624.40 MHz : L :  32.00 MHz : &Ch27 : &BBC027 : &L_cal;
    chan_def = &X :   5560.40 MHz : L :  32.00 MHz : &Ch28 : &BBC028 : &L_cal;
    chan_def = &X :   5464.40 MHz : L :  32.00 MHz : &Ch29 : &BBC029 : &L_cal;
    chan_def = &X :   5336.40 MHz : L :  32.00 MHz : &Ch30 : &BBC030 : &L_cal;
    chan_def = &X :   5304.40 MHz : L :  32.00 MHz : &Ch31 : &BBC031 : &L_cal;
    chan_def = &X :   5272.40 MHz : L :  32.00 MHz : &Ch32 : &BBC032 : &L_cal;
*
    chan_def = &X :   6840.40 MHz : L :  32.00 MHz : &Ch33 : &BBC033 : &L_cal;
    chan_def = &X :   6808.40 MHz : L :  32.00 MHz : &Ch34 : &BBC034 : &L_cal;
    chan_def = &X :   6744.40 MHz : L :  32.00 MHz : &Ch35 : &BBC035 : &L_cal;
    chan_def = &X :   6680.40 MHz : L :  32.00 MHz : &Ch36 : &BBC036 : &L_cal;
    chan_def = &X :   6584.40 MHz : L :  32.00 MHz : &Ch37 : &BBC037 : &L_cal;
    chan_def = &X :   6456.40 MHz : L :  32.00 MHz : &Ch38 : &BBC038 : &L_cal;
    chan_def = &X :   6424.40 MHz : L :  32.00 MHz : &Ch39 : &BBC039 : &L_cal;
    chan_def = &X :   6392.40 MHz : L :  32.00 MHz : &Ch40 : &BBC040 : &L_cal;
    chan_def = &X :   6840.40 MHz : L :  32.00 MHz : &Ch41 : &BBC041 : &L_cal;
    chan_def = &X :   6808.40 MHz : L :  32.00 MHz : &Ch42 : &BBC042 : &L_cal;
    chan_def = &X :   6744.40 MHz : L :  32.00 MHz : &Ch43 : &BBC043 : &L_cal;
    chan_def = &X :   6680.40 MHz : L :  32.00 MHz : &Ch44 : &BBC044 : &L_cal;
    chan_def = &X :   6584.40 MHz : L :  32.00 MHz : &Ch45 : &BBC045 : &L_cal;
    chan_def = &X :   6456.40 MHz : L :  32.00 MHz : &Ch46 : &BBC046 : &L_cal;
    chan_def = &X :   6424.40 MHz : L :  32.00 MHz : &Ch47 : &BBC047 : &L_cal;
    chan_def = &X :   6392.40 MHz : L :  32.00 MHz : &Ch48 : &BBC048 : &L_cal;
*
    chan_def = &X :  10680.40 MHz : L :  32.00 MHz : &Ch49 : &BBC049 : &L_cal;
    chan_def = &X :  10648.40 MHz : L :  32.00 MHz : &Ch50 : &BBC050 : &L_cal;
    chan_def = &X :  10584.40 MHz : L :  32.00 MHz : &Ch51 : &BBC051 : &L_cal;
    chan_def = &X :  10520.40 MHz : L :  32.00 MHz : &Ch52 : &BBC052 : &L_cal;
    chan_def = &X :  10424.40 MHz : L :  32.00 MHz : &Ch53 : &BBC053 : &L_cal;
    chan_def = &X :  10296.40 MHz : L :  32.00 MHz : &Ch54 : &BBC054 : &L_cal;
    chan_def = &X :  10264.40 MHz : L :  32.00 MHz : &Ch55 : &BBC055 : &L_cal;
    chan_def = &X :  10232.40 MHz : L :  32.00 MHz : &Ch56 : &BBC056 : &L_cal;
    chan_def = &X :  10680.40 MHz : L :  32.00 MHz : &Ch57 : &BBC057 : &L_cal;
    chan_def = &X :  10648.40 MHz : L :  32.00 MHz : &Ch58 : &BBC058 : &L_cal;
    chan_def = &X :  10584.40 MHz : L :  32.00 MHz : &Ch59 : &BBC059 : &L_cal;
    chan_def = &X :  10520.40 MHz : L :  32.00 MHz : &Ch60 : &BBC060 : &L_cal;
    chan_def = &X :  10424.40 MHz : L :  32.00 MHz : &Ch61 : &BBC061 : &L_cal;
    chan_def = &X :  10296.40 MHz : L :  32.00 MHz : &Ch62 : &BBC062 : &L_cal;
    chan_def = &X :  10264.40 MHz : L :  32.00 MHz : &Ch63 : &BBC063 : &L_cal;
    chan_def = &X :  10232.40 MHz : L :  32.00 MHz : &Ch64 : &BBC064 : &L_cal;
*
    sample_rate = 64.0 Ms/sec;
  enddef;
*-------- end   $FREQ
*-------- begin $IF
$IF;
  def __@HDS@___if;
    if_def = &IF_1N : 3N : X : 8080.0 MHz : U : 5 MHz : 0 Hz;
    if_def = &IF_3N : 3N : Y : 8080.0 MHz : U : 5 MHz : 0 Hz;
  enddef;
*-------- end   $IF
$SITE;
*
def GGAO12M;
    site_ID   = Gs;
    site_position       = 1130730.182      m:  -4831245.963   m:    3994228.263   m;
    site_velocity       =      -0.01406 m/yr:         0.00085 m/yr:      -0.00069 m/yr;
    site_position_epoch =  51544;
    site_type = fixed;
enddef;
*
def ISHIOKA;
    site_ID = Is;
    site_position       = 1130730.182      m:  -4831245.963   m:    3994228.263   m;
    site_velocity       =      -0.02262 m/yr:       -0.0040  m/yr:      -0.01052  m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def KOKEE12M;
    site_ID = K2;
    site_position       = -5543831.576     m:  -2054586.881   m:    2387828.311   m;
    site_velocity       =      -0.00858  m/yr:        0.06195 m/yr:       0.03004 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
* 
def MACGO12M;
    site_ID = Mg;
    site_position       = -1330788.236     m:  -5328106.651   m:    3236427.631   m;
    site_velocity       =       -0.01135  m/yr:       0.00010 m/yr:      -0.00656 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def ONSA13NE;
    site_ID = Oe;
    site_position       =  3370889.436      m:    711571.056   m:    5349691.936   m;
    site_velocity       =       -0.01398 m/yr:         0.01530 m/yr:       0.00838 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def ONSA13SW;
    site_ID = Ow;
    site_position       =  3370946.917      m:    711534.364   m:    5349660.814  m;
    site_velocity       =       -0.01398 m/yr:         0.01530 m/yr:       0.00838 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def RAEGSMAR;
    site_ID = Sa;
    site_name = RAEGSMAR;
    site_position =  4618524.302 m : -2166020.720 m :  3816270.345 m;
    site_position_epoch =  51544;
    site_type = fixed;
enddef;
*
def RAEGYEB;
    site_ID = Yj;
    site_position       =  4848831.196      m:   -261629.781   m:    4122976.281   m;
    site_velocity       =       -0.00759  m/yr:        0.02045 m/yr:        0.01220 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def WESTFORD;
    site_ID = Wf;
    site_position       =  1492206.541      m:  -4458130.522   m:    4296015.549   m;
    site_velocity       =       -0.01560  m/yr:       -0.00130 m/yr:        0.00260 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def WETTZ13S;
    site_ID = Ws;
    site_position       =  4075659.178      m:    931824.557   m:    4801516.094  m;
    site_velocity       =       -0.01581  m/yr:        0.01792 m/yr:        0.00810 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
*-------- begin $SITE
*-------- begin $STATION
$STATION;
  def Gs;
    ref $SITE = GGAO12M;
    ref $ANTENNA = GGAO12M;
    ref $DAS = RDBE_rack;
    ref $DAS = Gs_Gs;
    ref $DAS = Mark6_recorder;
  enddef;
  def Is;
    ref $SITE = ISHIOKA;
    ref $ANTENNA = ISHIOKA;
    ref $DAS = K4-2_rack;
    ref $DAS = Is_Is;
    ref $DAS = K5_recorder;
  enddef;
  def K2;
    ref $SITE = KOKEE12M;
    ref $ANTENNA = KOKEE12M;
    ref $DAS = RDBE_rack;
    ref $DAS = K2_K2;
    ref $DAS = Mark6_recorder;
  enddef;
  def Mg;
    ref $SITE = MACGO12M;
    ref $ANTENNA = MACGO12M;
    ref $DAS = RDBE_rack;
    ref $DAS = Mg_Mg;
    ref $DAS = Mark6_recorder;
  enddef;
  def Oe;
    ref $SITE = ONSA13NE;
    ref $ANTENNA = ONSA13NE;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Oe_Oe;
    ref $DAS = FlexBuff_recorder;
  enddef;
  def Ow;
    ref $SITE = ONSA13SW;
    ref $ANTENNA = ONSA13SW;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Ow_Ow;
    ref $DAS = FlexBuff_recorder;
  enddef;
  def Sa;
    ref $SITE = RAEGSMAR;
    ref $ANTENNA = RAEGSMAR;
    ref $DAS = Mark6_recorder;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Sa_Sa;
  enddef;
  def Yj;
    ref $SITE = RAEGYEB;
    ref $ANTENNA = RAEGYEB;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Yj_Yj;
    ref $DAS = Mark6_recorder;
  enddef;
  def Wf;
    ref $SITE = WESTFORD;
    ref $ANTENNA = WESTFORD;
    ref $DAS = RDBE_rack;
    ref $DAS = Wf_07;
    ref $DAS = Mark6_recorder;
  enddef;
  def Ws;
    ref $SITE = WETTZ13S;
    ref $ANTENNA = WETTZ13S;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Ws_WS;
    ref $DAS = Mark6_recorder;
  enddef;
*-------- end   $STATION
*-------- begin $ANTENNA
$ANTENNA;
  def GGAO12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 293.0 deg/min :     5 sec;
    antenna_motion = el :  70.0 deg/min :     3 sec;
    pointing_sector = &n : az :  180.0 deg :  720.0 deg : el :    6.5 deg :   88.0 deg;
  enddef;
  def ISHIOKA;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :    10 sec;
    pointing_sector = &n : az :  290.0 deg :  790.0 deg : el :    5.0 deg :   89.0 deg;
  enddef;
  def KOKEE12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :     6 sec;
    pointing_sector = &n : az :  182.5 deg :  722.3 deg : el :    1.1 deg :   88.2 deg;
  enddef;
  def MACGO12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    11 sec;
    antenna_motion = el : 360.0 deg/min :     9 sec;
    pointing_sector = &n : az :  180.0 deg :  720.0 deg : el :    6.5 deg :   88.0 deg;
  enddef;
  def ONSA13NE;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     5 sec;
    antenna_motion = el : 360.0 deg/min :     4 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
  def ONSA13SW;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     5 sec;
    antenna_motion = el : 360.0 deg/min :     4 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
  def RAEGSMAR;
    antenna_diam = 13.2 m;
    axis_type = az : el;
    axis_offset = 0 m;
    antenna_motion =  az: 720 deg/min:   3 sec;
    antenna_motion =  el: 360 deg/min:   3 sec;
    pointing_sector = &ccw   :  az :  300 deg :  420 deg :  el :    5 deg :   89 deg ;
    pointing_sector = &n     :  az :  420 deg :  660 deg :  el :    5 deg :   89 deg ;
    pointing_sector = &cw    :  az :  660 deg :  780 deg :  el :    5 deg :   89 deg ;
  enddef;
  def RAEGYEB;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     3 sec;
    antenna_motion = el : 360.0 deg/min :     3 sec;
    pointing_sector = &n : az :  300.0 deg :  780.0 deg : el :    5.0 deg :   89.0 deg;
  enddef;
  def WESTFORD;
    antenna_diam =  18.00 m;
    axis_type = az : el;
    axis_offset =    0.31830 m;
    antenna_motion = az : 200.0 deg/min :    10 sec;
    antenna_motion = el : 120.0 deg/min :    10 sec;
    pointing_sector = &n : az :  100.0 deg :  460.0 deg : el :    4.0 deg :   87.2 deg;
  enddef;
  def WETTZ13S;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :     6 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
*-------- end $ANTENNA
*-------- begin $DAS
$DAS;
  def RDBE_rack;
    electronics_rack_type = RDBE;
  enddef;
  def K4-2_rack;
    electronics_rack_type = K4-2;
  enddef;
  def DBBC_DDC_rack;
    electronics_rack_type = DBBC_DDC;
  enddef;
  def Mark6_recorder;
    record_transport_type = Mark6;
  enddef;
  def K5_recorder;
    record_transport_type = K5;
  enddef;
  def FlexBuff_recorder;
    record_transport_type = FlexBuff;
  enddef;
  def Gs_Gs;
    recording_system_ID = Gs;
  enddef;
  def Is_Is;
    recording_system_ID = Is;
  enddef;
  def K2_K2;
    recording_system_ID = K2;
  enddef;
  def Mg_Mg;
    recording_system_ID = Mg;
  enddef;
  def Oe_Oe;
    recording_system_ID = Oe;
  enddef;
  def Ow_Ow;
    recording_system_ID = Ow;
  enddef;
  def Sa_Sa;
    recording_system_ID = Sa;
  enddef;
  def Yj_Yj;
    recording_system_ID = Yj;
  enddef;
  def Wf_07;
    recording_system_ID = 07;
  enddef;
  def Ws_WS;
    recording_system_ID = WS;
  enddef;
  def 1_recorder;
    number_drives = 1;
  enddef;
  def 2_recorder;
    number_drives = 2;
  enddef;
*-------- end   $DAS
*-------- begin $PHASE_CAL_DETECT
$PHASE_CAL_DETECT;
  def Default;
    phase_cal_detect = &U_cal : 1;
  enddef;
*-------- end   $PHASE_CAL_DETECT
*-------- begin $ROLL
$ROLL;
  def NO_ROLL;
    roll = off;
  enddef;
*-------- end   $ROLL
*-------- begin $TRACKS
$TRACKS;
  def VDIF_format;
    track_frame_format = VDIF;
  enddef;
*-------- end   $TRACKS
