VEX_rev = 1.5;
*-------- begin GLOBAL
$GLOBAL;
    ref $EXPER = __@EXP_CODE@__;
*
* Nominal_start_date_UTC: __@NOMINAL_START@__
* Duration:               __@DURATION@__ hours
*                                                      +------------+
*                         PI revision number:          |    __@SCHEDULE_REVISION@__       |
*                                                      +------------+
*
*-------- end   GLOBAL
$EXPER;
  def __@EXP_CODE@__;
    exper_name          = __@EXP_CODE@__;
    exper_description   = "__@EXP_DESCR@__";
    exper_nominal_start = __@DATE_START@__; 
    exper_nominal_stop  = __@DATE_STOP@__;
    target_correlator   = VLBIDIFX;
    contact_name        = "__@SCHEDULER_NAME@__";
    scheduler_name      = "__@SCHEDULER_NAME@__";
    scheduler_email     = __@SCHEDULER_EMAIL@__;
  enddef;
*-------- end   $EXPER
*-------- begin $MODE
$MODE;
*
* __MODE_Definitions__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ __@HDS@__ 
*
  def __@HDS@__;
    ref $PROCEDURES = PROC___@HDS@__:Gs:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $EXTENSION  = FS_PROC___@HDS@___mg:Mg;
    ref $EXTENSION  = FS_PROC___@HDS@___ws:Ws;
    ref $EXTENSION  = FS_PROC___@HDS@___flush_buffer:Gs:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $FREQ = __@HDS@___freq:Gs:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $BBC  = __@HDS@___bbc:Gs:Is:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $IF   = __@HDS@___if:Gs:Is:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $TRACKS           = VDIF_format:Gs:Is:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $ROLL             = NO_ROLL:Gs:Is:K2:Mg:Yj:Wf:Ws:Oe:Ow;
    ref $PHASE_CAL_DETECT = Default:Gs:Is:K2:Mg:Yj:Wf:Ws:Oe:Ow;
  enddef;
*-------- end   $MODE
*-------- begin $BBC
$BBC;
  def __@HDS@___bbc;
    BBC_assign = &BBC001 : 01 : &IF_1N;
    BBC_assign = &BBC002 : 02 : &IF_1N;
    BBC_assign = &BBC003 : 03 : &IF_1N;
    BBC_assign = &BBC004 : 04 : &IF_1N;
    BBC_assign = &BBC005 : 05 : &IF_1N;
    BBC_assign = &BBC006 : 06 : &IF_1N;
    BBC_assign = &BBC007 : 07 : &IF_1N;
    BBC_assign = &BBC008 : 08 : &IF_1N;
    BBC_assign = &BBC009 : 09 : &IF_3N;
    BBC_assign = &BBC010 : 10 : &IF_3N;
    BBC_assign = &BBC011 : 11 : &IF_3N;
    BBC_assign = &BBC012 : 12 : &IF_3N;
    BBC_assign = &BBC013 : 13 : &IF_3N;
    BBC_assign = &BBC014 : 14 : &IF_3N;
    BBC_assign = &BBC015 : 15 : &IF_3N;
    BBC_assign = &BBC016 : 16 : &IF_3N;
    BBC_assign = &BBC017 : 01 : &IF_1N;
    BBC_assign = &BBC018 : 02 : &IF_1N;
    BBC_assign = &BBC019 : 03 : &IF_1N;
    BBC_assign = &BBC020 : 04 : &IF_1N;
    BBC_assign = &BBC021 : 05 : &IF_1N;
    BBC_assign = &BBC022 : 06 : &IF_1N;
    BBC_assign = &BBC023 : 07 : &IF_1N;
    BBC_assign = &BBC024 : 08 : &IF_1N;
    BBC_assign = &BBC025 : 09 : &IF_3N;
    BBC_assign = &BBC026 : 10 : &IF_3N;
    BBC_assign = &BBC027 : 11 : &IF_3N;
    BBC_assign = &BBC028 : 12 : &IF_3N;
    BBC_assign = &BBC029 : 13 : &IF_3N;
    BBC_assign = &BBC030 : 14 : &IF_3N;
    BBC_assign = &BBC031 : 15 : &IF_3N;
    BBC_assign = &BBC032 : 16 : &IF_3N;
    BBC_assign = &BBC033 : 01 : &IF_1N;
    BBC_assign = &BBC034 : 02 : &IF_1N;
    BBC_assign = &BBC035 : 03 : &IF_1N;
    BBC_assign = &BBC036 : 04 : &IF_1N;
    BBC_assign = &BBC037 : 05 : &IF_1N;
    BBC_assign = &BBC038 : 06 : &IF_1N;
    BBC_assign = &BBC039 : 07 : &IF_1N;
    BBC_assign = &BBC040 : 08 : &IF_1N;
    BBC_assign = &BBC041 : 09 : &IF_3N;
    BBC_assign = &BBC042 : 10 : &IF_3N;
    BBC_assign = &BBC043 : 11 : &IF_3N;
    BBC_assign = &BBC044 : 12 : &IF_3N;
    BBC_assign = &BBC045 : 13 : &IF_3N;
    BBC_assign = &BBC046 : 14 : &IF_3N;
    BBC_assign = &BBC047 : 15 : &IF_3N;
    BBC_assign = &BBC048 : 16 : &IF_3N;
    BBC_assign = &BBC049 : 01 : &IF_1N;
    BBC_assign = &BBC050 : 02 : &IF_1N;
    BBC_assign = &BBC051 : 03 : &IF_1N;
    BBC_assign = &BBC052 : 04 : &IF_1N;
    BBC_assign = &BBC053 : 05 : &IF_1N;
    BBC_assign = &BBC054 : 06 : &IF_1N;
    BBC_assign = &BBC055 : 07 : &IF_1N;
    BBC_assign = &BBC056 : 08 : &IF_1N;
    BBC_assign = &BBC057 : 09 : &IF_3N;
    BBC_assign = &BBC058 : 10 : &IF_3N;
    BBC_assign = &BBC059 : 11 : &IF_3N;
    BBC_assign = &BBC060 : 12 : &IF_3N;
    BBC_assign = &BBC061 : 13 : &IF_3N;
    BBC_assign = &BBC062 : 14 : &IF_3N;
    BBC_assign = &BBC063 : 15 : &IF_3N;
    BBC_assign = &BBC064 : 16 : &IF_3N;
  enddef;
*-------- end $BBC
*-------- begin $FREQ
$FREQ;
  def __@HDS@___freq;
*
    chan_def = &X :   3480.40 MHz : L :  32.00 MHz : &Ch01 : &BBC001 : &L_cal;
    chan_def = &X :   3448.40 MHz : L :  32.00 MHz : &Ch02 : &BBC002 : &L_cal;
    chan_def = &X :   3384.40 MHz : L :  32.00 MHz : &Ch03 : &BBC003 : &L_cal;
    chan_def = &X :   3320.40 MHz : L :  32.00 MHz : &Ch04 : &BBC004 : &L_cal;
    chan_def = &X :   3224.40 MHz : L :  32.00 MHz : &Ch05 : &BBC005 : &L_cal;
    chan_def = &X :   3096.40 MHz : L :  32.00 MHz : &Ch06 : &BBC006 : &L_cal;
    chan_def = &X :   3064.40 MHz : L :  32.00 MHz : &Ch07 : &BBC007 : &L_cal;
    chan_def = &X :   3032.40 MHz : L :  32.00 MHz : &Ch08 : &BBC008 : &L_cal;
    chan_def = &X :   3480.40 MHz : L :  32.00 MHz : &Ch09 : &BBC009 : &L_cal;
    chan_def = &X :   3448.40 MHz : L :  32.00 MHz : &Ch10 : &BBC010 : &L_cal;
    chan_def = &X :   3384.40 MHz : L :  32.00 MHz : &Ch11 : &BBC011 : &L_cal;
    chan_def = &X :   3320.40 MHz : L :  32.00 MHz : &Ch12 : &BBC012 : &L_cal;
    chan_def = &X :   3224.40 MHz : L :  32.00 MHz : &Ch13 : &BBC013 : &L_cal;
    chan_def = &X :   3096.40 MHz : L :  32.00 MHz : &Ch14 : &BBC014 : &L_cal;
    chan_def = &X :   3064.40 MHz : L :  32.00 MHz : &Ch15 : &BBC015 : &L_cal;
    chan_def = &X :   3032.40 MHz : L :  32.00 MHz : &Ch16 : &BBC016 : &L_cal;
*
    chan_def = &X :   5720.40 MHz : L :  32.00 MHz : &Ch17 : &BBC017 : &L_cal;
    chan_def = &X :   5688.40 MHz : L :  32.00 MHz : &Ch18 : &BBC018 : &L_cal;
    chan_def = &X :   5624.40 MHz : L :  32.00 MHz : &Ch19 : &BBC019 : &L_cal;
    chan_def = &X :   5560.40 MHz : L :  32.00 MHz : &Ch20 : &BBC020 : &L_cal;
    chan_def = &X :   5464.40 MHz : L :  32.00 MHz : &Ch21 : &BBC021 : &L_cal;
    chan_def = &X :   5336.40 MHz : L :  32.00 MHz : &Ch22 : &BBC022 : &L_cal;
    chan_def = &X :   5304.40 MHz : L :  32.00 MHz : &Ch23 : &BBC023 : &L_cal;
    chan_def = &X :   5272.40 MHz : L :  32.00 MHz : &Ch24 : &BBC024 : &L_cal;
    chan_def = &X :   5720.40 MHz : L :  32.00 MHz : &Ch25 : &BBC025 : &L_cal;
    chan_def = &X :   5688.40 MHz : L :  32.00 MHz : &Ch26 : &BBC026 : &L_cal;
    chan_def = &X :   5624.40 MHz : L :  32.00 MHz : &Ch27 : &BBC027 : &L_cal;
    chan_def = &X :   5560.40 MHz : L :  32.00 MHz : &Ch28 : &BBC028 : &L_cal;
    chan_def = &X :   5464.40 MHz : L :  32.00 MHz : &Ch29 : &BBC029 : &L_cal;
    chan_def = &X :   5336.40 MHz : L :  32.00 MHz : &Ch30 : &BBC030 : &L_cal;
    chan_def = &X :   5304.40 MHz : L :  32.00 MHz : &Ch31 : &BBC031 : &L_cal;
    chan_def = &X :   5272.40 MHz : L :  32.00 MHz : &Ch32 : &BBC032 : &L_cal;
*
    chan_def = &X :   6840.40 MHz : L :  32.00 MHz : &Ch33 : &BBC033 : &L_cal;
    chan_def = &X :   6808.40 MHz : L :  32.00 MHz : &Ch34 : &BBC034 : &L_cal;
    chan_def = &X :   6744.40 MHz : L :  32.00 MHz : &Ch35 : &BBC035 : &L_cal;
    chan_def = &X :   6680.40 MHz : L :  32.00 MHz : &Ch36 : &BBC036 : &L_cal;
    chan_def = &X :   6584.40 MHz : L :  32.00 MHz : &Ch37 : &BBC037 : &L_cal;
    chan_def = &X :   6456.40 MHz : L :  32.00 MHz : &Ch38 : &BBC038 : &L_cal;
    chan_def = &X :   6424.40 MHz : L :  32.00 MHz : &Ch39 : &BBC039 : &L_cal;
    chan_def = &X :   6392.40 MHz : L :  32.00 MHz : &Ch40 : &BBC040 : &L_cal;
    chan_def = &X :   6840.40 MHz : L :  32.00 MHz : &Ch41 : &BBC041 : &L_cal;
    chan_def = &X :   6808.40 MHz : L :  32.00 MHz : &Ch42 : &BBC042 : &L_cal;
    chan_def = &X :   6744.40 MHz : L :  32.00 MHz : &Ch43 : &BBC043 : &L_cal;
    chan_def = &X :   6680.40 MHz : L :  32.00 MHz : &Ch44 : &BBC044 : &L_cal;
    chan_def = &X :   6584.40 MHz : L :  32.00 MHz : &Ch45 : &BBC045 : &L_cal;
    chan_def = &X :   6456.40 MHz : L :  32.00 MHz : &Ch46 : &BBC046 : &L_cal;
    chan_def = &X :   6424.40 MHz : L :  32.00 MHz : &Ch47 : &BBC047 : &L_cal;
    chan_def = &X :   6392.40 MHz : L :  32.00 MHz : &Ch48 : &BBC048 : &L_cal;
*
    chan_def = &X :  10680.40 MHz : L :  32.00 MHz : &Ch49 : &BBC049 : &L_cal;
    chan_def = &X :  10648.40 MHz : L :  32.00 MHz : &Ch50 : &BBC050 : &L_cal;
    chan_def = &X :  10584.40 MHz : L :  32.00 MHz : &Ch51 : &BBC051 : &L_cal;
    chan_def = &X :  10520.40 MHz : L :  32.00 MHz : &Ch52 : &BBC052 : &L_cal;
    chan_def = &X :  10424.40 MHz : L :  32.00 MHz : &Ch53 : &BBC053 : &L_cal;
    chan_def = &X :  10296.40 MHz : L :  32.00 MHz : &Ch54 : &BBC054 : &L_cal;
    chan_def = &X :  10264.40 MHz : L :  32.00 MHz : &Ch55 : &BBC055 : &L_cal;
    chan_def = &X :  10232.40 MHz : L :  32.00 MHz : &Ch56 : &BBC056 : &L_cal;
    chan_def = &X :  10680.40 MHz : L :  32.00 MHz : &Ch57 : &BBC057 : &L_cal;
    chan_def = &X :  10648.40 MHz : L :  32.00 MHz : &Ch58 : &BBC058 : &L_cal;
    chan_def = &X :  10584.40 MHz : L :  32.00 MHz : &Ch59 : &BBC059 : &L_cal;
    chan_def = &X :  10520.40 MHz : L :  32.00 MHz : &Ch60 : &BBC060 : &L_cal;
    chan_def = &X :  10424.40 MHz : L :  32.00 MHz : &Ch61 : &BBC061 : &L_cal;
    chan_def = &X :  10296.40 MHz : L :  32.00 MHz : &Ch62 : &BBC062 : &L_cal;
    chan_def = &X :  10264.40 MHz : L :  32.00 MHz : &Ch63 : &BBC063 : &L_cal;
    chan_def = &X :  10232.40 MHz : L :  32.00 MHz : &Ch64 : &BBC064 : &L_cal;
*
    sample_rate = 64.0 Ms/sec;
  enddef;
*-------- end   $FREQ
*-------- begin $IF
$IF;
  def __@HDS@___if;
    if_def = &IF_1N : 3N : X : 8080.0 MHz : U : 5 MHz : 0 Hz;
    if_def = &IF_3N : 3N : Y : 8080.0 MHz : U : 5 MHz : 0 Hz;
  enddef;
*-------- end   $IF
$SITE;
*
def GGAO12M;
    site_ID   = Gs;
    site_position       = 1130730.182      m:  -4831245.963   m:    3994228.263   m;
    site_velocity       =      -0.01406 m/yr:         0.00085 m/yr:      -0.00069 m/yr;
    site_position_epoch =  51544;
    site_type = fixed;
enddef;
*
def ISHIOKA;
    site_ID = Is;
    site_position       = 1130730.182      m:  -4831245.963   m:    3994228.263   m;
    site_velocity       =      -0.02262 m/yr:       -0.0040             -0.01052  m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def KOKEE12M;
    site_ID = K2;
    site_position       = -5543831.576     m:  -2054586.881   m:    2387828.311   m;
    site_velocity       =      -0.00858  m/yr:        0.06195 m/yr:       0.03004 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
* 
def MACGO12M;
    site_ID = Mg;
    site_position       = -1330788.236     m:  -5328106.651   m:    3236427.631   m;
    site_velocity       =       -0.01135  m/yr:       0.00010 m/yr       -0.00656 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def ONSA13NE;
    site_ID = Oe;
    site_position       =  3370889.436      m:    711571.056   m:    5349691.936   m;
    site_velocity       =       -0.01398 m/yr:         0.01530 m/yr        0.00838 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def ONSA13SW;
    site_ID = Ow;
    site_position       =  3370946.917      m:    711534.364   m:    5349660.814  m;
    site_velocity       =       -0.01398 m/yr:         0.01530 m/yr        0.00838 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def RAEGYEB;
    site_ID = Yj;
    site_position       =  4848831.196      m:   -261629.781   m:    4122976.281   m;
    site_velocity       =       -0.00759  m/yr:        0.02045 m/yr        0.01220 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def WESTFORD;
    site_ID = Wf;
    site_position       =  1492206.541      m:  -4458130.522   m:    4296015.549   m;
    site_velocity       =       -0.01560  m/yr:       -0.00130 m/yr        0.00260 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
def WETTZ13S;
    site_ID = Ws;
    site_position       =  4075659.178      m:    931824.557   m:    4801516.094  m;
    site_velocity       =       -0.01581  m/yr:        0.01792 m/yr        0.00810 m/yr;
    site_position_epoch =  51544;
    site_type           =  fixed;
enddef;
*
*-------- begin $SITE
*-------- begin $STATION
$STATION;
  def Gs;
    ref $SITE = GGAO12M;
    ref $ANTENNA = GGAO12M;
    ref $DAS = RDBE_rack;
    ref $DAS = Gs_Gs;
    ref $DAS = Mark6_recorder;
  enddef;
  def Is;
    ref $SITE = ISHIOKA;
    ref $ANTENNA = ISHIOKA;
    ref $DAS = K4-2_rack;
    ref $DAS = Is_Is;
    ref $DAS = K5_recorder;
  enddef;
  def K2;
    ref $SITE = KOKEE12M;
    ref $ANTENNA = KOKEE12M;
    ref $DAS = RDBE_rack;
    ref $DAS = K2_K2;
    ref $DAS = Mark6_recorder;
  enddef;
  def Mg;
    ref $SITE = MACGO12M;
    ref $ANTENNA = MACGO12M;
    ref $DAS = RDBE_rack;
    ref $DAS = Mg_Mg;
    ref $DAS = Mark6_recorder;
  enddef;
  def Oe;
    ref $SITE = ONSA13NE;
    ref $ANTENNA = ONSA13NE;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Oe_Oe;
    ref $DAS = FlexBuff_recorder;
  enddef;
  def Ow;
    ref $SITE = ONSA13SW;
    ref $ANTENNA = ONSA13SW;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Ow_Ow;
    ref $DAS = FlexBuff_recorder;
  enddef;
  def Yj;
    ref $SITE = RAEGYEB;
    ref $ANTENNA = RAEGYEB;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Yj_Yj;
    ref $DAS = Mark6_recorder;
  enddef;
  def Wf;
    ref $SITE = WESTFORD;
    ref $ANTENNA = WESTFORD;
    ref $DAS = RDBE_rack;
    ref $DAS = Wf_07;
    ref $DAS = Mark6_recorder;
  enddef;
  def Ws;
    ref $SITE = WETTZ13S;
    ref $ANTENNA = WETTZ13S;
    ref $DAS = DBBC_DDC_rack;
    ref $DAS = Ws_WS;
    ref $DAS = Mark6_recorder;
  enddef;
*-------- end   $STATION
*-------- begin $ANTENNA
$ANTENNA;
  def GGAO12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 293.0 deg/min :     5 sec;
    antenna_motion = el :  70.0 deg/min :     3 sec;
    pointing_sector = &n : az :  180.0 deg :  720.0 deg : el :    6.5 deg :   88.0 deg;
  enddef;
  def ISHIOKA;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :    10 sec;
    pointing_sector = &n : az :  290.0 deg :  790.0 deg : el :    5.0 deg :   89.0 deg;
  enddef;
  def KOKEE12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :     6 sec;
    pointing_sector = &n : az :  182.5 deg :  722.3 deg : el :    1.1 deg :   88.2 deg;
  enddef;
  def MACGO12M;
    antenna_diam =  12.00 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    11 sec;
    antenna_motion = el : 360.0 deg/min :     9 sec;
    pointing_sector = &n : az :  180.0 deg :  720.0 deg : el :    6.5 deg :   88.0 deg;
  enddef;
  def ONSA13NE;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     5 sec;
    antenna_motion = el : 360.0 deg/min :     4 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
  def ONSA13SW;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     5 sec;
    antenna_motion = el : 360.0 deg/min :     4 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
  def RAEGYEB;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :     3 sec;
    antenna_motion = el : 360.0 deg/min :     3 sec;
    pointing_sector = &n : az :  300.0 deg :  780.0 deg : el :    5.0 deg :   89.0 deg;
  enddef;
  def WESTFORD;
    antenna_diam =  18.00 m;
    axis_type = az : el;
    axis_offset =    0.31830 m;
    antenna_motion = az : 200.0 deg/min :    10 sec;
    antenna_motion = el : 120.0 deg/min :    10 sec;
    pointing_sector = &n : az :  100.0 deg :  460.0 deg : el :    4.0 deg :   87.2 deg;
  enddef;
  def WETTZ13S;
    antenna_diam =  13.20 m;
    axis_type = az : el;
    axis_offset =    0.00000 m;
    antenna_motion = az : 720.0 deg/min :    10 sec;
    antenna_motion = el : 360.0 deg/min :     6 sec;
    pointing_sector = &n : az :  270.0 deg :  810.0 deg : el :    5.0 deg :   90.0 deg;
  enddef;
*-------- end $ANTENNA
*-------- begin $DAS
$DAS;
  def RDBE_rack;
    electronics_rack_type = RDBE;
  enddef;
  def K4-2_rack;
    electronics_rack_type = K4-2;
  enddef;
  def DBBC_DDC_rack;
    electronics_rack_type = DBBC_DDC;
  enddef;
  def Mark6_recorder;
    record_transport_type = Mark6;
  enddef;
  def K5_recorder;
    record_transport_type = K5;
  enddef;
  def FlexBuff_recorder;
    record_transport_type = FlexBuff;
  enddef;
  def Gs_Gs;
    recording_system_ID = Gs;
  enddef;
  def Is_Is;
    recording_system_ID = Is;
  enddef;
  def K2_K2;
    recording_system_ID = K2;
  enddef;
  def Mg_Mg;
    recording_system_ID = Mg;
  enddef;
  def Oe_Oe;
    recording_system_ID = Oe;
  enddef;
  def Ow_Ow;
    recording_system_ID = Ow;
  enddef;
  def Yj_Yj;
    recording_system_ID = Yj;
  enddef;
  def Wf_07;
    recording_system_ID = 07;
  enddef;
  def Ws_WS;
    recording_system_ID = WS;
  enddef;
  def 1_recorder;
    number_drives = 1;
  enddef;
  def 2_recorder;
    number_drives = 2;
  enddef;
*-------- end   $DAS
*-------- begin $PHASE_CAL_DETECT
$PHASE_CAL_DETECT;
  def Default;
    phase_cal_detect = &U_cal : 1;
  enddef;
*-------- end   $PHASE_CAL_DETECT
*-------- begin $ROLL
$ROLL;
  def NO_ROLL;
    roll = off;
  enddef;
*-------- end   $ROLL
*-------- begin $TRACKS
$TRACKS;
  def VDIF_format;
    track_frame_format = VDIF;
  enddef;
*-------- end   $TRACKS
*-------- begin $PROCEDURES;
*
$PROCEDURES;
  def PROC___@HDS@__;
     setup_always = on :   0 sec : setup___@HDS@__;
     preob_cal    = on :   3 sec : preob___@HDS@__;
     midob_cal    = on :   0 sec : midob___@HDS@__;
     postob_cal   = on :   0 sec : postob___@HDS@__;
  enddef;
*-------- end   $PROCEDURES;
$EXTENSION
  def FS_PROC___@HDS@___flush_buffer ;
      extension NASA : flush_buffer : 0.0 : : ; 
  enddef;
  def FS_PROC___@HDS@___mg ;
      extension NASA : fs_procedure_mg_001 : mg : '" Procedure file for station mg mode __@HDS@__ experiment __@EXP_CODE@__' : ;
      extension NASA : fs_procedure_mg_002 : mg : 'define  rdbebb        15085151358x' : ;
      extension NASA : fs_procedure_mg_003 : mg : 'rdbe=dbe_data_send=off;' : ;
      extension NASA : fs_procedure_mg_004 : mg : '!+1s' : ;
      extension NASA : fs_procedure_mg_005 : mg : 'rdbe=dbe_chsel_en=2:chsel_enable:psn_enable;' : ;
      extension NASA : fs_procedure_mg_006 : mg : 'rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_mg_007 : mg : 'rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_mg_008 : mg : '"offset= mod(lo+1024),5)' : ;
      extension NASA : fs_procedure_mg_009 : mg : '"loa is 2472.4' : ;
      extension NASA : fs_procedure_mg_010 : mg : '"lob is 4712.4' : ;
      extension NASA : fs_procedure_mg_011 : mg : '"loc is 5832.4' : ;
      extension NASA : fs_procedure_mg_012 : mg : '"lod is 9672.4' : ;
      extension NASA : fs_procedure_mg_013 : mg : 'rdbe=pcal=1.4e6;' : ;
      extension NASA : fs_procedure_mg_014 : mg : '!+1s' : ;
      extension NASA : fs_procedure_mg_015 : mg : 'rdbe=dbe_data_send=on;' : ;
      extension NASA : fs_procedure_mg_016 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_017 : mg : '% =================' : ;
      extension NASA : fs_procedure_mg_018 : mg : 'define  sched_initi   15085151229x' : ;
      extension NASA : fs_procedure_mg_019 : mg : 'mk6bb' : ;
      extension NASA : fs_procedure_mg_020 : mg : 'ifdbb' : ;
      extension NASA : fs_procedure_mg_021 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_022 : mg : 'define  mk6bb         15085151229x' : ;
      extension NASA : fs_procedure_mg_023 : mg : 'mk6=input_stream = delete ;' : ;
      extension NASA : fs_procedure_mg_024 : mg : '!+4s' : ;
      extension NASA : fs_procedure_mg_025 : mg : 'mk6=input_stream = add : rdbeA : vdif : 8224 : 42 : 66 : eth2 : 127.0.0.1 : 12000;' : ;
      extension NASA : fs_procedure_mg_026 : mg : 'mk6=input_stream = add : rdbeB : vdif : 8224 : 42 : 66 : eth3 : 127.0.0.1 : 12000;' : ;
      extension NASA : fs_procedure_mg_027 : mg : 'mk6=input_stream = add : rdbeC : vdif : 8224 : 42 : 66 : eth4 : 127.0.0.1 : 12000;' : ;
      extension NASA : fs_procedure_mg_028 : mg : 'mk6=input_stream = add : rdbeD : vdif : 8224 : 42 : 66 : eth5 : 127.0.0.1 : 12000;' : ;
      extension NASA : fs_procedure_mg_029 : mg : 'mk6=input_stream = commit ;' : ;
      extension NASA : fs_procedure_mg_030 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_031 : mg : '% ==============' : ;
      extension NASA : fs_procedure_mg_032 : mg : 'define  checkmk6      00000000000' : ;
      extension NASA : fs_procedure_mg_033 : mg : 'mk6=record=off;' : ;
      extension NASA : fs_procedure_mg_034 : mg : '!+2s' : ;
      extension NASA : fs_procedure_mg_035 : mg : 'mk6=scan_check?;' : ;
      extension NASA : fs_procedure_mg_036 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_037 : mg : '% ============' : ;
      extension NASA : fs_procedure_mg_038 : mg : 'define  pcalon        15085151358x' : ;
      extension NASA : fs_procedure_mg_039 : mg : '"pcal is on' : ;
      extension NASA : fs_procedure_mg_040 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_041 : mg : '% ==========' : ;
      extension NASA : fs_procedure_mg_042 : mg : 'define  time          15085151938x' : ;
      extension NASA : fs_procedure_mg_043 : mg : 'rdbe=pps_offset?;' : ;
      extension NASA : fs_procedure_mg_044 : mg : 'rdbe=dot?;' : ;
      extension NASA : fs_procedure_mg_045 : mg : 'rdbe=gps_offset?;' : ;
      extension NASA : fs_procedure_mg_046 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_047 : mg : '% ===========' : ;
      extension NASA : fs_procedure_mg_048 : mg : 'define  ifdbb         20184195245x' : ;
      extension NASA : fs_procedure_mg_049 : mg : 'lo=' : ;
      extension NASA : fs_procedure_mg_050 : mg : 'lo=loa0,2472.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_mg_051 : mg : 'lo=loa1,2472.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_mg_052 : mg : 'lo=lob0,4712.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_mg_053 : mg : 'lo=lob1,4712.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_mg_054 : mg : 'lo=loc0,5832.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_mg_055 : mg : 'lo=loc1,5832.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_mg_056 : mg : 'lo=lod0,9672.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_mg_057 : mg : 'lo=lod1,9672.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_mg_058 : mg : '"' : ;
      extension NASA : fs_procedure_mg_059 : mg : 'sy=popen 's_client -h udca -c udc_lo=2472.4 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_060 : mg : 'sy=popen 's_client -h udcb -c udc_lo=4712.4 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_061 : mg : 'sy=popen 's_client -h udcc -c udc_lo=5832.4 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_062 : mg : 'sy=popen 's_client -h udcd -c udc_lo=9672.4 2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_063 : mg : '"' : ;
      extension NASA : fs_procedure_mg_064 : mg : 'sy=popen 's_client -h udca -c udc_atten=0:17 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_065 : mg : 'sy=popen 's_client -h udcb -c udc_atten=0:25 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_066 : mg : 'sy=popen 's_client -h udcc -c udc_atten=0:30 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_067 : mg : 'sy=popen 's_client -h udcd -c udc_atten=0:5  2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_068 : mg : 'sy=popen 's_client -h udca -c udc_atten=1:17 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_069 : mg : 'sy=popen 's_client -h udcb -c udc_atten=1:27 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_070 : mg : 'sy=popen 's_client -h udcc -c udc_atten=1:27 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_071 : mg : 'sy=popen 's_client -h udcd -c udc_atten=1:5  2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_072 : mg : '"' : ;
      extension NASA : fs_procedure_mg_073 : mg : 'sy=popen 's_client -h rfd -c rfd_atten=0:3 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_074 : mg : 'sy=popen 's_client -h rfd -c rfd_atten=1:3 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_075 : mg : 'sy=popen 's_client -h rfd -c rfd_atten=2:9  2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_076 : mg : 'sy=popen 's_client -h rfd -c rfd_atten=3:9  2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_077 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_078 : mg : '% ============' : ;
      extension NASA : fs_procedure_mg_079 : mg : 'define  ifdmon        15085151909x' : ;
      extension NASA : fs_procedure_mg_080 : mg : 'sy=popen 's_client -h udca -c udc_atten?0 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_081 : mg : 'sy=popen 's_client -h udca -c udc_atten?1 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_082 : mg : 'sy=popen 's_client -h udcb -c udc_atten?0 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_083 : mg : 'sy=popen 's_client -h udcb -c udc_atten?1 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_084 : mg : 'sy=popen 's_client -h udcc -c udc_atten?0 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_085 : mg : 'sy=popen 's_client -h udcc -c udc_atten?1 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_086 : mg : 'sy=popen 's_client -h udcd -c udc_atten?0 2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_087 : mg : 'sy=popen 's_client -h udcd -c udc_atten?1 2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_088 : mg : '"' : ;
      extension NASA : fs_procedure_mg_089 : mg : 'sy=popen 's_client -h udca -c udc_lo? 2>&1' -n udcca' : ;
      extension NASA : fs_procedure_mg_090 : mg : 'sy=popen 's_client -h udcb -c udc_lo? 2>&1' -n udccb' : ;
      extension NASA : fs_procedure_mg_091 : mg : 'sy=popen 's_client -h udcc -c udc_lo? 2>&1' -n udccc' : ;
      extension NASA : fs_procedure_mg_092 : mg : 'sy=popen 's_client -h udcd -c udc_lo? 2>&1' -n udccd' : ;
      extension NASA : fs_procedure_mg_093 : mg : '"' : ;
      extension NASA : fs_procedure_mg_094 : mg : 'sy=popen 's_client -h rfd -c rfd_atten?0 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_095 : mg : 'sy=popen 's_client -h rfd -c rfd_atten?1 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_096 : mg : 'sy=popen 's_client -h rfd -c rfd_atten?2 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_097 : mg : 'sy=popen 's_client -h rfd -c rfd_atten?3 2>&1' -n rfdcn' : ;
      extension NASA : fs_procedure_mg_098 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_099 : mg : '% ===============' : ;
      extension NASA : fs_procedure_mg_100 : mg : '% ===============' : ;
      extension NASA : fs_procedure_mg_101 : mg : 'define  setup___@HDS@__       15085151358x' : ;
      extension NASA : fs_procedure_mg_102 : mg : 'pcalon' : ;
      extension NASA : fs_procedure_mg_103 : mg : 'tpicd=stop' : ;
      extension NASA : fs_procedure_mg_104 : mg : '"ifdbb' : ;
      extension NASA : fs_procedure_mg_105 : mg : 'rdbebb' : ;
      extension NASA : fs_procedure_mg_106 : mg : '"mk6bb' : ;
      extension NASA : fs_procedure_mg_107 : mg : 'tpicd=no,100' : ;
      extension NASA : fs_procedure_mg_108 : mg : 'tpicd' : ;
      extension NASA : fs_procedure_mg_109 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_110 : mg : '% ===============' : ;
      extension NASA : fs_procedure_mg_111 : mg : 'define  preob___@HDS@__       00000000000x' : ;
      extension NASA : fs_procedure_mg_112 : mg : 'onsource' : ;
      extension NASA : fs_procedure_mg_113 : mg : 'track' : ;
      extension NASA : fs_procedure_mg_114 : mg : 'rdbe_atten=' : ;
      extension NASA : fs_procedure_mg_115 : mg : 'rdbe=dbe_quantize=0;' : ;
      extension NASA : fs_procedure_mg_116 : mg : 'rdbe=dbe_quantize=1;' : ;
      extension NASA : fs_procedure_mg_117 : mg : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_mg_118 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_119 : mg : '% ===============' : ;
      extension NASA : fs_procedure_mg_120 : mg : 'define  midob___@HDS@__       15085151909x' : ;
      extension NASA : fs_procedure_mg_121 : mg : 'data_valid=on' : ;
      extension NASA : fs_procedure_mg_122 : mg : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_mg_123 : mg : 'onsource' : ;
      extension NASA : fs_procedure_mg_124 : mg : 'track' : ;
      extension NASA : fs_procedure_mg_125 : mg : 'rdbe=sw_version?;' : ;
      extension NASA : fs_procedure_mg_126 : mg : 'mk6=dts_id?;' : ;
      extension NASA : fs_procedure_mg_127 : mg : 'rdbe=dbe_personality?;' : ;
      extension NASA : fs_procedure_mg_128 : mg : 'wx' : ;
      extension NASA : fs_procedure_mg_129 : mg : 'ifdmon' : ;
      extension NASA : fs_procedure_mg_130 : mg : 'mk6=input_stream?;' : ;
      extension NASA : fs_procedure_mg_131 : mg : 'rdbe=dbe_chsel_en?;' : ;
      extension NASA : fs_procedure_mg_132 : mg : 'rdbe=dbe_chsel?0;' : ;
      extension NASA : fs_procedure_mg_133 : mg : 'rdbe=dbe_chsel?1;' : ;
      extension NASA : fs_procedure_mg_134 : mg : 'rdbe=pcal?;' : ;
      extension NASA : fs_procedure_mg_135 : mg : 'rdbe_atten' : ;
      extension NASA : fs_procedure_mg_136 : mg : 'rdbe=dbe_bstate?0;' : ;
      extension NASA : fs_procedure_mg_137 : mg : 'rdbe=dbe_bstate?1;' : ;
      extension NASA : fs_procedure_mg_138 : mg : 'dewar' : ;
      extension NASA : fs_procedure_mg_139 : mg : 'time' : ;
      extension NASA : fs_procedure_mg_140 : mg : 'enddef' : ;
      extension NASA : fs_procedure_mg_141 : mg : '% ================' : ;
      extension NASA : fs_procedure_mg_142 : mg : 'define  postob___@HDS@__      15085151909x' : ;
      extension NASA : fs_procedure_mg_143 : mg : 'data_valid=off' : ;
      extension NASA : fs_procedure_mg_144 : mg : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_mg_145 : mg : 'mk6=record=off;' : ;
      extension NASA : fs_procedure_mg_146 : mg : '!+2s' : ;
      extension NASA : fs_procedure_mg_147 : mg : 'mk6=scan_check?;' : ;
      extension NASA : fs_procedure_mg_148 : mg : 'enddef' : ;
  endif;
  def FS_PROC___@HDS@___ws ;
      extension NASA : fs_procedure_ws_001 : ws : '" Procedure file for station ws mode __@HDS@__ experiment __@EXP_CODE@__' : ;
      extension NASA : fs_procedure_ws_002 : ws : 'define  iread         16158145945x' : ;
      extension NASA : fs_procedure_ws_003 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_004 : ws : 'ifa' : ;
      extension NASA : fs_procedure_ws_005 : ws : 'ifb' : ;
      extension NASA : fs_procedure_ws_006 : ws : 'ifc' : ;
      extension NASA : fs_procedure_ws_007 : ws : 'ifd' : ;
      extension NASA : fs_procedure_ws_008 : ws : '"' : ;
      extension NASA : fs_procedure_ws_009 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_010 : ws : 'dbbc2=dbbcifa' : ;
      extension NASA : fs_procedure_ws_011 : ws : 'dbbc2=dbbcifb' : ;
      extension NASA : fs_procedure_ws_012 : ws : 'dbbc2=dbbcifc' : ;
      extension NASA : fs_procedure_ws_013 : ws : 'dbbc2=dbbcifd' : ;
      extension NASA : fs_procedure_ws_014 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_015 : ws : '% ===========' : ;
      extension NASA : fs_procedure_ws_016 : ws : 'define  bread         16158145951x' : ;
      extension NASA : fs_procedure_ws_017 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_018 : ws : 'dbbc=power=1' : ;
      extension NASA : fs_procedure_ws_019 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_020 : ws : 'dbbc=power=2' : ;
      extension NASA : fs_procedure_ws_021 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_022 : ws : 'dbbc=power=3' : ;
      extension NASA : fs_procedure_ws_023 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_024 : ws : 'dbbc=power=4' : ;
      extension NASA : fs_procedure_ws_025 : ws : '"' : ;
      extension NASA : fs_procedure_ws_026 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_027 : ws : 'dbbc2=power=1' : ;
      extension NASA : fs_procedure_ws_028 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_029 : ws : 'dbbc2=power=2' : ;
      extension NASA : fs_procedure_ws_030 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_031 : ws : 'dbbc2=power=3' : ;
      extension NASA : fs_procedure_ws_032 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_033 : ws : 'dbbc2=power=4' : ;
      extension NASA : fs_procedure_ws_034 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_035 : ws : '% =================' : ;
      extension NASA : fs_procedure_ws_036 : ws : 'define  fila10g_cfg   16158144253x' : ;
      extension NASA : fs_procedure_ws_037 : ws : 'fila10g1_cfg' : ;
      extension NASA : fs_procedure_ws_038 : ws : 'fila10g2_cfg' : ;
      extension NASA : fs_procedure_ws_039 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_040 : ws : '% ==================' : ;
      extension NASA : fs_procedure_ws_041 : ws : 'define  fila10g1_cfg  16158144253x' : ;
      extension NASA : fs_procedure_ws_042 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_043 : ws : '"customize inputselect, ips, gateways, macs, and timesync' : ;
      extension NASA : fs_procedure_ws_044 : ws : '"for your station' : ;
      extension NASA : fs_procedure_ws_045 : ws : 'fila10g=arp off' : ;
      extension NASA : fs_procedure_ws_046 : ws : 'fila10g=tengbcfg eth0 ip=192.168.1.30 gateway=192.168.1.1' : ;
      extension NASA : fs_procedure_ws_047 : ws : 'fila10g=tengbcfg eth0 mac=ba:dc:af:e4:be:e0' : ;
      extension NASA : fs_procedure_ws_048 : ws : 'fila10g=tengbcfg eth0 nm=27' : ;
      extension NASA : fs_procedure_ws_049 : ws : 'fila10g=tengbcfg eth1 ip=192.168.1.31 gateway=192.168.1.1' : ;
      extension NASA : fs_procedure_ws_050 : ws : 'fila10g=tengbcfg eth1 mac=ba:dc:af:e4:be:e1' : ;
      extension NASA : fs_procedure_ws_051 : ws : 'fila10g=tengbcfg eth1 nm=27' : ;
      extension NASA : fs_procedure_ws_052 : ws : 'fila10g=destination 0 192.168.1.2:2630' : ;
      extension NASA : fs_procedure_ws_053 : ws : '"fila10g=destination 1 none' : ;
      extension NASA : fs_procedure_ws_054 : ws : 'fila10g=destination 1 192.168.1.3:2630' : ;
      extension NASA : fs_procedure_ws_055 : ws : '"xx:xx:xx:xx:xx:xx is the destination MAC?' : ;
      extension NASA : fs_procedure_ws_056 : ws : '"fila10g=tengbarp eth0 11 xx:xx:xx:xx:xx:xx' : ;
      extension NASA : fs_procedure_ws_057 : ws : '"fila10g=tengbarp eth1 11 xx:xx:xx:xx:xx:xx' : ;
      extension NASA : fs_procedure_ws_058 : ws : 'fila10g=tengbarp eth0 2 00:60:dd:44:eb:63' : ;
      extension NASA : fs_procedure_ws_059 : ws : 'fila10g=tengbarp eth1 3 00:60:dd:44:eb:62' : ;
      extension NASA : fs_procedure_ws_060 : ws : 'fila10g=vdif_station Ws' : ;
      extension NASA : fs_procedure_ws_061 : ws : '"' : ;
      extension NASA : fs_procedure_ws_062 : ws : '"fila10g=splitmode off' : ;
      extension NASA : fs_procedure_ws_063 : ws : '"fila10g=inputselect vsi1' : ;
      extension NASA : fs_procedure_ws_064 : ws : 'fila10g=splitmode on' : ;
      extension NASA : fs_procedure_ws_065 : ws : 'fila10g=inputselect vsi1-2' : ;
      extension NASA : fs_procedure_ws_066 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_067 : ws : '% ==================' : ;
      extension NASA : fs_procedure_ws_068 : ws : 'define  fila10g2_cfg  16158144253x' : ;
      extension NASA : fs_procedure_ws_069 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_070 : ws : '"customize inputselect, ips, gateways, macs, and timesync' : ;
      extension NASA : fs_procedure_ws_071 : ws : '"for your station' : ;
      extension NASA : fs_procedure_ws_072 : ws : 'fila10g2=arp off' : ;
      extension NASA : fs_procedure_ws_073 : ws : 'fila10g2=tengbcfg eth0 ip=192.168.1.32 gateway=192.168.1.1' : ;
      extension NASA : fs_procedure_ws_074 : ws : 'fila10g2=tengbcfg eth0 mac=ba:dc:af:e4:be:e2' : ;
      extension NASA : fs_procedure_ws_075 : ws : 'fila10g2=tengbcfg eth0 nm=27' : ;
      extension NASA : fs_procedure_ws_076 : ws : 'fila10g2=tengbcfg eth1 ip=192.168.1.33 gateway=192.168.1.1' : ;
      extension NASA : fs_procedure_ws_077 : ws : 'fila10g2=tengbcfg eth1 mac=ba:dc:af:e4:be:e3' : ;
      extension NASA : fs_procedure_ws_078 : ws : 'fila10g2=tengbcfg eth1 nm=27' : ;
      extension NASA : fs_procedure_ws_079 : ws : 'fila10g2=destination 0 192.168.1.4:2630' : ;
      extension NASA : fs_procedure_ws_080 : ws : '"fila10g2=destination 1 none' : ;
      extension NASA : fs_procedure_ws_081 : ws : 'fila10g2=destination 1 192.168.1.5:2630' : ;
      extension NASA : fs_procedure_ws_082 : ws : '"xx:xx:xx:xx:xx:xx is the destination MAC?' : ;
      extension NASA : fs_procedure_ws_083 : ws : '"fila10g2=tengbarp eth0 11 xx:xx:xx:xx:xx:xx' : ;
      extension NASA : fs_procedure_ws_084 : ws : '"fila10g2=tengbarp eth1 11 xx:xx:xx:xx:xx:xx' : ;
      extension NASA : fs_procedure_ws_085 : ws : 'fila10g2=tengbarp eth0 4 00:60:dd:44:eb:5b' : ;
      extension NASA : fs_procedure_ws_086 : ws : 'fila10g2=tengbarp eth1 5 00:60:dd:44:eb:5a' : ;
      extension NASA : fs_procedure_ws_087 : ws : 'fila10g2=vdif_station W2' : ;
      extension NASA : fs_procedure_ws_088 : ws : '"' : ;
      extension NASA : fs_procedure_ws_089 : ws : '"fila10g2=splitmode off' : ;
      extension NASA : fs_procedure_ws_090 : ws : '"fila10g2=inputselect vsi1' : ;
      extension NASA : fs_procedure_ws_091 : ws : 'fila10g2=splitmode on' : ;
      extension NASA : fs_procedure_ws_092 : ws : 'fila10g2=inputselect vsi1-2' : ;
      extension NASA : fs_procedure_ws_093 : ws : '"set thread ID for second FILA10G to ID=2 and ID=3' : ;
      extension NASA : fs_procedure_ws_094 : ws : 'fila10g2=regupdate vdif_header 3 131072 0x03FF0000' : ;
      extension NASA : fs_procedure_ws_095 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_096 : ws : '% ============' : ;
      extension NASA : fs_procedure_ws_097 : ws : 'define  dbbcbb        16158145047x' : ;
      extension NASA : fs_procedure_ws_098 : ws : '"equivalent to:' : ;
      extension NASA : fs_procedure_ws_099 : ws : '"rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_ws_100 : ws : '"rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_ws_101 : ws : '"Wettzell DBBC#1 has:' : ;
      extension NASA : fs_procedure_ws_102 : ws : '" band B v-pol on ifd, core4' : ;
      extension NASA : fs_procedure_ws_103 : ws : '" band B h-pol on ifc, core3' : ;
      extension NASA : fs_procedure_ws_104 : ws : '" band A v-pol on ifb, core2' : ;
      extension NASA : fs_procedure_ws_105 : ws : '" band A h-pol on ifa, core1' : ;
      extension NASA : fs_procedure_ws_106 : ws : 'dbbc=vsi_align=1' : ;
      extension NASA : fs_procedure_ws_107 : ws : 'dbbc=dbbcform=flex' : ;
      extension NASA : fs_procedure_ws_108 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_109 : ws : '"vsi2' : ;
      extension NASA : fs_procedure_ws_110 : ws : 'dbbc=dbbctrk=4,2,v2-0,v2-1,v2-2,v2-3,v2-4,v2-5,v2-6,v2-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15' : ;
      extension NASA : fs_procedure_ws_111 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_112 : ws : 'dbbc=dbbctrk=3,2,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v2-8,v2-9,v2-10,v2-11,v2-12,v2-13,v2-14,v2-15' : ;
      extension NASA : fs_procedure_ws_113 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_114 : ws : '"vsi1' : ;
      extension NASA : fs_procedure_ws_115 : ws : 'dbbc=dbbctrk=4,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_116 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_117 : ws : 'dbbc=dbbctrk=3,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_118 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_119 : ws : 'dbbc=dbbctrk=2,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15' : ;
      extension NASA : fs_procedure_ws_120 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_121 : ws : 'dbbc=dbbctrk=1,1,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_122 : ws : '"' : ;
      extension NASA : fs_procedure_ws_123 : ws : '"equivalent to:' : ;
      extension NASA : fs_procedure_ws_124 : ws : '"rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_ws_125 : ws : '"rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;' : ;
      extension NASA : fs_procedure_ws_126 : ws : '"Wettzell DBBC#2 has:' : ;
      extension NASA : fs_procedure_ws_127 : ws : '" band D v-pol on ifd, core4' : ;
      extension NASA : fs_procedure_ws_128 : ws : '" band D h-pol on ifc, core3' : ;
      extension NASA : fs_procedure_ws_129 : ws : '" band C v-pol on ifb, core2' : ;
      extension NASA : fs_procedure_ws_130 : ws : '" band C h-pol on ifa, core1' : ;
      extension NASA : fs_procedure_ws_131 : ws : 'dbbc2=vsi_align=1' : ;
      extension NASA : fs_procedure_ws_132 : ws : 'dbbc2=dbbcform=flex' : ;
      extension NASA : fs_procedure_ws_133 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_134 : ws : '"vsi2' : ;
      extension NASA : fs_procedure_ws_135 : ws : 'dbbc2=dbbctrk=4,2,v2-0,v2-1,v2-2,v2-3,v2-4,v2-5,v2-6,v2-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15' : ;
      extension NASA : fs_procedure_ws_136 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_137 : ws : 'dbbc2=dbbctrk=3,2,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v2-8,v2-9,v2-10,v2-11,v2-12,v2-13,v2-14,v2-15' : ;
      extension NASA : fs_procedure_ws_138 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_139 : ws : '"vsi1' : ;
      extension NASA : fs_procedure_ws_140 : ws : 'dbbc2=dbbctrk=4,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_141 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_142 : ws : 'dbbc2=dbbctrk=3,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_143 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_144 : ws : 'dbbc2=dbbctrk=2,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15' : ;
      extension NASA : fs_procedure_ws_145 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_146 : ws : 'dbbc2=dbbctrk=1,1,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15' : ;
      extension NASA : fs_procedure_ws_147 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_148 : ws : '% ===========' : ;
      extension NASA : fs_procedure_ws_149 : ws : 'define  ifdbb         16158145116x' : ;
      extension NASA : fs_procedure_ws_150 : ws : '"Wettzell BBC#1:' : ;
      extension NASA : fs_procedure_ws_151 : ws : '" band A h-pol on ifa, input1' : ;
      extension NASA : fs_procedure_ws_152 : ws : '" band A v-pol on ifb, input1' : ;
      extension NASA : fs_procedure_ws_153 : ws : '" band B h-pol on ifc, input1' : ;
      extension NASA : fs_procedure_ws_154 : ws : '" band B v-pol on ifd, input1' : ;
      extension NASA : fs_procedure_ws_155 : ws : 'lo=' : ;
      extension NASA : fs_procedure_ws_156 : ws : 'lo=loa,2472.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_ws_157 : ws : 'lo=lob,2472.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_ws_158 : ws : 'lo=loc,4712.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_ws_159 : ws : 'lo=lod,4712.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_ws_160 : ws : 'ifa=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_161 : ws : 'ifb=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_162 : ws : 'ifc=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_163 : ws : 'ifd=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_164 : ws : '"' : ;
      extension NASA : fs_procedure_ws_165 : ws : '"Wettzell DBBC#2:' : ;
      extension NASA : fs_procedure_ws_166 : ws : '" band C h-pol on ifa, input1' : ;
      extension NASA : fs_procedure_ws_167 : ws : '" band C v-pol on ifb, input1' : ;
      extension NASA : fs_procedure_ws_168 : ws : '" band D h-pol on ifc, input1' : ;
      extension NASA : fs_procedure_ws_169 : ws : '" band D v-pol on ifd, input1' : ;
      extension NASA : fs_procedure_ws_170 : ws : 'lo=lo2a,5832.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_ws_171 : ws : 'lo=lo2b,5832.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_ws_172 : ws : 'lo=lo2c,9672.4,usb,lcp,5' : ;
      extension NASA : fs_procedure_ws_173 : ws : 'lo=lo2d,9672.4,usb,rcp,5' : ;
      extension NASA : fs_procedure_ws_174 : ws : '"ifa=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_175 : ws : '"ifb=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_176 : ws : '"ifc=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_177 : ws : '"ifd=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_178 : ws : 'dbbc2=dbbcifa=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_179 : ws : 'dbbc2=dbbcifb=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_180 : ws : 'dbbc2=dbbcifc=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_181 : ws : 'dbbc2=dbbcifd=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_182 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_183 : ws : '% ===========' : ;
      extension NASA : fs_procedure_ws_184 : ws : 'define  mk6bb         00000000000x' : ;
      extension NASA : fs_procedure_ws_185 : ws : '"Fila10G#1 eth0 connects to Mark6 eth2' : ;
      extension NASA : fs_procedure_ws_186 : ws : '"Fila10G#1 eth1 connects to Mark6 eth3' : ;
      extension NASA : fs_procedure_ws_187 : ws : '"Fila10G#2 eth0 connects to Mark6 eth4' : ;
      extension NASA : fs_procedure_ws_188 : ws : '"Fila10G#2 eth1 connects to Mark6 eth5' : ;
      extension NASA : fs_procedure_ws_189 : ws : 'mk6=input_stream = delete ;' : ;
      extension NASA : fs_procedure_ws_190 : ws : '!+4s' : ;
      extension NASA : fs_procedure_ws_191 : ws : 'mk6=input_stream = add : bandA : vdif : 8224 : 50 : 42 : eth2 : 192.168.1.30 : 2630;' : ;
      extension NASA : fs_procedure_ws_192 : ws : 'mk6=input_stream = add : bandB : vdif : 8224 : 50 : 42 : eth3 : 192.168.1.31 : 2630;' : ;
      extension NASA : fs_procedure_ws_193 : ws : 'mk6=input_stream = add : bandC : vdif : 8224 : 50 : 42 : eth4 : 192.168.1.32 : 2630;' : ;
      extension NASA : fs_procedure_ws_194 : ws : 'mk6=input_stream = add : bandD : vdif : 8224 : 50 : 42 : eth5 : 192.168.1.33 : 2630;' : ;
      extension NASA : fs_procedure_ws_195 : ws : 'mk6=input_stream = commit;' : ;
      extension NASA : fs_procedure_ws_196 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_197 : ws : '% =================' : ;
      extension NASA : fs_procedure_ws_198 : ws : 'define  sched_initi   00000000000x' : ;
      extension NASA : fs_procedure_ws_199 : ws : 'azeloff=0d,0d' : ;
      extension NASA : fs_procedure_ws_200 : ws : '!+2s' : ;
      extension NASA : fs_procedure_ws_201 : ws : 'antenna=azeloff,0,0,0' : ;
      extension NASA : fs_procedure_ws_202 : ws : '% =================' : ;
      extension NASA : fs_procedure_ws_203 : ws : 'setuprx' : ;
      extension NASA : fs_procedure_ws_204 : ws : 'proc_library' : ;
      extension NASA : fs_procedure_ws_205 : ws : 'ifdbb' : ;
      extension NASA : fs_procedure_ws_206 : ws : 'dbbcbb' : ;
      extension NASA : fs_procedure_ws_207 : ws : 'fila10gbb' : ;
      extension NASA : fs_procedure_ws_208 : ws : 'mk6bb' : ;
      extension NASA : fs_procedure_ws_209 : ws : '!+1s' : ;
      extension NASA : fs_procedure_ws_210 : ws : 'mk6=mstat?all' : ;
      extension NASA : fs_procedure_ws_211 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_212 : ws : '% ==============' : ;
      extension NASA : fs_procedure_ws_213 : ws : 'define  checkmk6      00000000000x' : ;
      extension NASA : fs_procedure_ws_214 : ws : '!+2s' : ;
      extension NASA : fs_procedure_ws_215 : ws : 'mk6=record=off;' : ;
      extension NASA : fs_procedure_ws_216 : ws : '!+2s' : ;
      extension NASA : fs_procedure_ws_217 : ws : 'mk6=scan_check?;' : ;
      extension NASA : fs_procedure_ws_218 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_219 : ws : '% ============' : ;
      extension NASA : fs_procedure_ws_220 : ws : 'define  pcalon        00000000000x' : ;
      extension NASA : fs_procedure_ws_221 : ws : '"pcal should be on' : ;
      extension NASA : fs_procedure_ws_222 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_223 : ws : '% ===========' : ;
      extension NASA : fs_procedure_ws_224 : ws : 'define  ifman         00000000000x' : ;
      extension NASA : fs_procedure_ws_225 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_226 : ws : 'ifa=*,man,*' : ;
      extension NASA : fs_procedure_ws_227 : ws : 'ifb=*,man,*' : ;
      extension NASA : fs_procedure_ws_228 : ws : 'ifc=*,man,*' : ;
      extension NASA : fs_procedure_ws_229 : ws : 'ifd=*,man,*' : ;
      extension NASA : fs_procedure_ws_230 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_231 : ws : 'dbbc2=dbbcifa=1,man,1,38000' : ;
      extension NASA : fs_procedure_ws_232 : ws : 'dbbc2=dbbcifb=1,man,1,38000' : ;
      extension NASA : fs_procedure_ws_233 : ws : 'dbbc2=dbbcifc=1,man,1,38000' : ;
      extension NASA : fs_procedure_ws_234 : ws : 'dbbc2=dbbcifd=1,man,1,38000' : ;
      extension NASA : fs_procedure_ws_235 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_236 : ws : '% ===========' : ;
      extension NASA : fs_procedure_ws_237 : ws : 'define  ifagc         00000000000x' : ;
      extension NASA : fs_procedure_ws_238 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_239 : ws : 'ifa=*,agc,*' : ;
      extension NASA : fs_procedure_ws_240 : ws : 'ifb=*,agc,*' : ;
      extension NASA : fs_procedure_ws_241 : ws : 'ifc=*,agc,*' : ;
      extension NASA : fs_procedure_ws_242 : ws : 'ifd=*,agc,*' : ;
      extension NASA : fs_procedure_ws_243 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_244 : ws : 'dbbc2=dbbcifa=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_245 : ws : 'dbbc2=dbbcifb=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_246 : ws : 'dbbc2=dbbcifc=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_247 : ws : 'dbbc2=dbbcifd=1,agc,1,38000' : ;
      extension NASA : fs_procedure_ws_248 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_249 : ws : '%' : ;
      extension NASA : fs_procedure_ws_250 : ws : 'define  fila10gbb     16158144311x' : ;
      extension NASA : fs_procedure_ws_251 : ws : '" Wettzell FiLa10G#1' : ;
      extension NASA : fs_procedure_ws_252 : ws : 'fila10g=vsi_bitmask 0xffffffff 0xffffffff' : ;
      extension NASA : fs_procedure_ws_253 : ws : '" samplerate: input_clock decimation' : ;
      extension NASA : fs_procedure_ws_254 : ws : 'fila10g=vsi_samplerate 64000000 1' : ;
      extension NASA : fs_procedure_ws_255 : ws : '"frame: bits/chan channel bytes' : ;
      extension NASA : fs_procedure_ws_256 : ws : 'fila10g=vdif_frame 2 16 8192' : ;
      extension NASA : fs_procedure_ws_257 : ws : 'fila10g=start vdif+vdif' : ;
      extension NASA : fs_procedure_ws_258 : ws : '"' : ;
      extension NASA : fs_procedure_ws_259 : ws : '" Wettzell FiLa10G#2' : ;
      extension NASA : fs_procedure_ws_260 : ws : 'fila10g2=vsi_bitmask 0xffffffff 0xffffffff' : ;
      extension NASA : fs_procedure_ws_261 : ws : '" samplerate: input_clock decimation' : ;
      extension NASA : fs_procedure_ws_262 : ws : 'fila10g2=vsi_samplerate 64000000 1' : ;
      extension NASA : fs_procedure_ws_263 : ws : '"frame: bits/chan channel bytes' : ;
      extension NASA : fs_procedure_ws_264 : ws : 'fila10g2=vdif_frame 2 16 8192' : ;
      extension NASA : fs_procedure_ws_265 : ws : 'fila10g2=start vdif+vdif' : ;
      extension NASA : fs_procedure_ws_266 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_267 : ws : '%' : ;
      extension NASA : fs_procedure_ws_268 : ws : '% ===============' : ;
      extension NASA : fs_procedure_ws_269 : ws : '% ===============' : ;
      extension NASA : fs_procedure_ws_270 : ws : '%' : ;
      extension NASA : fs_procedure_ws_271 : ws : 'define  setup___@HDS@__       00000000000x' : ;
      extension NASA : fs_procedure_ws_272 : ws : 'pcalon' : ;
      extension NASA : fs_procedure_ws_273 : ws : '"tpicd=stop' : ;
      extension NASA : fs_procedure_ws_274 : ws : 'ifdbb' : ;
      extension NASA : fs_procedure_ws_275 : ws : '"tpicd=no,100' : ;
      extension NASA : fs_procedure_ws_276 : ws : '"tpicd' : ;
      extension NASA : fs_procedure_ws_277 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_278 : ws : '% ===============' : ;
      extension NASA : fs_procedure_ws_279 : ws : 'define  preob___@HDS@__       00000000000x' : ;
      extension NASA : fs_procedure_ws_280 : ws : 'onsource' : ;
      extension NASA : fs_procedure_ws_281 : ws : 'ifman' : ;
      extension NASA : fs_procedure_ws_282 : ws : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_ws_283 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_284 : ws : '% ===============' : ;
      extension NASA : fs_procedure_ws_285 : ws : 'define  midob___@HDS@__       00000000000x' : ;
      extension NASA : fs_procedure_ws_286 : ws : 'data_valid=on' : ;
      extension NASA : fs_procedure_ws_287 : ws : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_ws_288 : ws : 'onsource' : ;
      extension NASA : fs_procedure_ws_289 : ws : 'wx' : ;
      extension NASA : fs_procedure_ws_290 : ws : 'dotmon' : ;
      extension NASA : fs_procedure_ws_291 : ws : 'dotmon2' : ;
      extension NASA : fs_procedure_ws_292 : ws : 'rxall' : ;
      extension NASA : fs_procedure_ws_293 : ws : 'cable' : ;
      extension NASA : fs_procedure_ws_294 : ws : '"Wettzel DBBC#1' : ;
      extension NASA : fs_procedure_ws_295 : ws : 'dbbc=version' : ;
      extension NASA : fs_procedure_ws_296 : ws : 'fila10g=version' : ;
      extension NASA : fs_procedure_ws_297 : ws : 'fila10g=time' : ;
      extension NASA : fs_procedure_ws_298 : ws : '"' : ;
      extension NASA : fs_procedure_ws_299 : ws : '"Wettzel DBBC#2' : ;
      extension NASA : fs_procedure_ws_300 : ws : 'dbbc2=version' : ;
      extension NASA : fs_procedure_ws_301 : ws : 'fila10g2=version' : ;
      extension NASA : fs_procedure_ws_302 : ws : 'fila10g2=time' : ;
      extension NASA : fs_procedure_ws_303 : ws : '"' : ;
      extension NASA : fs_procedure_ws_304 : ws : 'mk6=dts_id?;' : ;
      extension NASA : fs_procedure_ws_305 : ws : 'antenna=status' : ;
      extension NASA : fs_procedure_ws_306 : ws : 'bread' : ;
      extension NASA : fs_procedure_ws_307 : ws : 'iread' : ;
      extension NASA : fs_procedure_ws_308 : ws : 'mk6=input_stream?;' : ;
      extension NASA : fs_procedure_ws_309 : ws : 'enddef' : ;
      extension NASA : fs_procedure_ws_310 : ws : '% ================' : ;
      extension NASA : fs_procedure_ws_311 : ws : 'define  postob___@HDS@__      00000000000x' : ;
      extension NASA : fs_procedure_ws_312 : ws : 'data_valid=off' : ;
      extension NASA : fs_procedure_ws_313 : ws : 'mk6=rtime?8192;' : ;
      extension NASA : fs_procedure_ws_314 : ws : 'mk6=record=off;' : ;
      extension NASA : fs_procedure_ws_315 : ws : '!+2s' : ;
      extension NASA : fs_procedure_ws_316 : ws : 'mk6=scan_check?;' : ;
      extension NASA : fs_procedure_ws_317 : ws : 'enddef' : ;
  endif;
  def post_schedule_command ;
      extension NASA : post_schedule command_001 : 'vex_to_snap.py -m mk6_ext -o __@EXP_CODE@__mg.snp __@EXP_CODE@__.vex mg' : ; 
      extension NASA : post_schedule command_002 : 'vex_to_snap.py -m mk6_ext -o __@EXP_CODE@__ws.snp __@EXP_CODE@__.vex ws' : ;
      extension NASA : post_schedule command_003 : 'vex_to_proc.py -o __@EXP_CODE@__mg.prc __@EXP_CODE@__.vex mg' : ;
      extension NASA : post_schedule command_004 : 'vex_to_proc.py -o __@EXP_CODE@__ws.prc __@EXP_CODE@__.vex ws' : ;
      extension NASA : post_schedule command_005 : 'snap_to_lst.py -o __@EXP_CODE@__mg.lst __@EXP_CODE@__mg.snp -s 8192' : ;
      extension NASA : post_schedule command_006 : 'snap_to_lst.py -o __@EXP_CODE@__ws.lst __@EXP_CODE@__ws.snp -s 8192' : ;
  endif;
