$EXPER S21355
$PARAM
DESCRIPTION VG221-355
SCHEDULING_SOFTWARE VieSched++
SOFTWARE_VERSION 2bee4f99b90697fb002ecd67781e35ceee7dd66f
SCHEDULE_CREATE_DATE 21350204851 
SCHEDULER DACH CORRELATOR WETZ START 21355194500 END 21355204500 
CALIBRATION     3 CORSYNCH        0 DURATION      196
EARLY           0 IDLE            0 LOOKAHEAD       0
MAXSCAN       600 MINSCAN        30 MINIMUM         0
MIDTP           0 MODULAR         1 MODSCAN         1 PARITY          0
SETUP           0 SOURCE          0 TAPETM          0 WIDTH           0
CONFIRM         Y VSCAN           Y
DEBUG           N KEEP_LOG        N VERBOSE         N
PRFLAG       YYNN SNR          AUTO
FREQUENCY   SX PREOB      PREOB  MIDOB     MIDOB  POSTOB     POSTOB
ELEVATION _   5.0
TAPE_MOTION _  START&STOP
TAPE_ALLOCATION _  SCHEDULED
Mg-Ws X   15 Mg-Ws S   15
SNR MARGIN X   0 MARGIN S   0
SNR AST_MARGIN X   0 AST_MARGIN S   0
SCAN     1 196   2 196   3 196   4 196   5 196   6 196   7 196   8 196
SCAN     9 196  10 196  11 196  12 196  13 196  14 196  15 196  16 196
SCAN    17 196  18 196  19 196  20 196  21 196  22 196  23 196  24 196
SCAN    25 196  26 196  27 196  28 196  29 196  30 196  31 196  32 196
SCAN    33 196  34 196  35 196  36 196  37 196  38 196  39 196  40 196
SCAN    41 196  42 196  43 196  44 196  45 196  46 196  47 196  48 196
SCAN    49 196  50 196  51 196  52 196  53 196  54 196  55 196  56 196
SCAN    57 196  58 196  59 196  60 196  61 196  62 196  63 196  64 196
SCAN    65 196  66 196  67 196  68 196  69 196  70 196  71 196  72 196
SCAN    73 196  74 196  75 196  76 196  77 196  78 196  79 196  80 196
SCAN    81 196  82 196  83 196  84 196  85 196  86 196  87 196  88 196
SCAN    89 196  90 196  91 196  92 196  93 196  94 196  95 196  96 196
SCAN    97 196  98 196  99 196 100 196
$OP
XP F YP F DUT F PSI F EPS F
Mg AOFF F ARAT F COFF F CRT1 F CRT2 F X F Y F Z F
Ws AOFF F ARAT F COFF F CRT1 F CRT2 F X F Y F Z F
  1 F   2 F   3 F   4 F   5 F   6 F   7 F   8 F   9 F  10 F
 11 F  12 F  13 F  14 F  15 F  16 F  17 F  18 F  19 F  20 F
 21 F  22 F  23 F  24 F  25 F  26 F  27 F  28 F  29 F  30 F
 31 F  32 F  33 F  34 F  35 F  36 F  37 F  38 F  39 F  40 F
 41 F  42 F  43 F  44 F  45 F  46 F  47 F  48 F  49 F  50 F
 51 F  52 F  53 F  54 F  55 F  56 F  57 F  58 F  59 F  60 F
 61 F  62 F  63 F  64 F  65 F  66 F  67 F  68 F  69 F  70 F
 71 F  72 F  73 F  74 F  75 F  76 F  77 F  78 F  79 F  80 F
 81 F  82 F  83 F  84 F  85 F  86 F  87 F  88 F  89 F  90 F
 91 F  92 F  93 F  94 F  95 F  96 F  97 F  98 F  99 F 100 F
XP F YP F DUT F PSI F EPS F
Mg AOFF F ARAT F COFF F CRT1 F CRT2 F X F Y F Z F
Ws AOFF F ARAT F COFF F CRT1 F CRT2 F X F Y F Z F
  1 F   2 F   3 F   4 F   5 F   6 F   7 F   8 F   9 F  10 F
 11 F  12 F  13 F  14 F  15 F  16 F  17 F  18 F  19 F  20 F
 21 F  22 F  23 F  24 F  25 F  26 F  27 F  28 F  29 F  30 F
 31 F  32 F  33 F  34 F  35 F  36 F  37 F  38 F  39 F  40 F
 41 F  42 F  43 F  44 F  45 F  46 F  47 F  48 F  49 F  50 F
 51 F  52 F  53 F  54 F  55 F  56 F  57 F  58 F  59 F  60 F
 61 F  62 F  63 F  64 F  65 F  66 F  67 F  68 F  69 F  70 F
 71 F  72 F  73 F  74 F  75 F  76 F  77 F  78 F  79 F  80 F
 81 F  82 F  83 F  84 F  85 F  86 F  87 F  88 F  89 F  90 F
 91 F  92 F  93 F  94 F  95 F  96 F  97 F  98 F  99 F 100 F
$MAJOR
Subnet MgWs
SkyCov             Yes
AllBlGood          Yes
MaxAngle       180.00
MinAngle        30.00
MinBetween         20
MinSunDist      15.00
MaxSlewTime       300
TimeWindow         24.00
MinSubNetSize       2
NumSubNet           1
Best               60
FillIn            Yes
FillMinSub          3
FillMinTime       120
FillBest           80
Add_ps              5.0
El_noise            0.0
SNRWts            Yes
SplitTwins         No
$MINOR
Astro           No   Abs          3.00
BegScan         Yes  Rel          1.00
Covar           No   Abs          1.00
EndScan         Yes  Rel          1.00
LowDec          No   Abs          1.00
NumLoEl         No   Rel          1.00        5.00
NumRiseSet      No   Abs          1.00
NumObs          No   Rel          1.00
SkyCov          No   Rel          1.00
SrcEvn          No   Rel          1.00 NONE
SrcWt           No   Abs          0.00
StatEvn         No   Abs          1.00 NONE
StatIdle        No   Abs          3.00
StatWt          Yes  Abs          1.00
TimeVar         No   Rel          1.00
$ASTROMETRIC
$TWIN_TELESCOPES
$GROUP
$SRCWT
$STATWT
$BROADBAND
MACGO12M   512.00    8192       8192          0
WETTZ13S   512.00    8192       8192          0
$DOWNTIME
$CATALOGS_USED
$SOURCES
$STATIONS
A  M MACGO12M AZEL  0.00000   720.0  10  180.0  720.0  360.0   8    6.5   88.0  12.0   Mg  Mg  Mg
A  S WETTZ13S AZEL  0.00000   720.0  10  -90.0  450.0  360.0  10    5.0   90.0  13.2   Ws  Ws  Ws
P Mg MACGO12M    -1330788.4620   -5328106.5932    3236427.4918   00000000  104.01   30.40 2020c
P Ws WETTZ13S     4075658.8067     931824.8831    4801516.2728   73880000  347.12   49.15 2020c
T    Mg  MACGO12M 2x56000  17640   X  3000   S  3000 RDBE MARK6
T    WS  WETTZ13S  2x56000  17640  X  1400   S  1050 DBBC_DDC MARK6
H Mg  0 5 70 6 75 7 80 8 85 9 95 8 105 6 145 7 150 8 155 9 165 10 185 8 190 7 195 5 360
H Ws  0     5     360
$SKED
$FLUX
$PROCS
BEGIN COMMON
END COMMON
BEGIN MACGO12M
define  proc_library  00000000000x
" VT9200     MACGO12M  MG
" Created by Ed from vt9200k2.prc
" drudg version 2016Jul25 compiled under FS  0.00.00
"< BB       rack >< Mark6    recorder 1>
enddef
define  rdbebb        19200214605x
rdbe=dbe_data_send=off;
!+1s
rdbe=dbe_chsel_en=2:chsel_enable:psn_enable;
rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;
rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;
"offset= mod(lo+1024),5)
"loa is 2472.4
"lob is 4712.4
"loc is 5832.4
"lod is 9672.4
rdbe=pcal=1.4e6;
!+1s
rdbe=dbe_data_send=on;
enddef
define  sched_initi   19200214549x
mk6bb
ifdbb
enddef
define  mk6bb         19200214549x
mk6=input_stream = delete ;
!+4s
mk6=input_stream = add : rdbeA : vdif : 8224 : 42 : 66 : eth2 : 127.0.0.1 : 12000;
mk6=input_stream = add : rdbeB : vdif : 8224 : 42 : 66 : eth3 : 127.0.0.1 : 12000;
mk6=input_stream = add : rdbeC : vdif : 8224 : 42 : 66 : eth4 : 127.0.0.1 : 12000;
mk6=input_stream = add : rdbeD : vdif : 8224 : 42 : 66 : eth5 : 127.0.0.1 : 12000;
mk6=input_stream = commit ;
enddef
define  setupbb       19200214605x
pcalon
tpicd=stop
"ifdbb
rdbebb
"mk6bb
tpicd=no,100
tpicd
enddef
define  checkmk6      00000000000
mk6=record=off;
!+2s
mk6=scan_check?;
enddef
define  pcalon        19200214605x
"pcal is on
enddef
define  time          00000000000x
rdbe=pps_offset?;
rdbe=dot?;
rdbe=gps_offset?;
enddef
define  midob         00000000000x
onsource
track
rdbe=sw_version?;
mk6=dts_id?;
rdbe=dbe_personality?;
wx
ifdmon
mk6=input_stream?;
rdbe=dbe_chsel_en?;
rdbe=dbe_chsel?0;
rdbe=dbe_chsel?1;
rdbe=pcal?;
rdbe_atten
rdbe=dbe_bstate?0;
rdbe=dbe_bstate?1;
dewar
time
enddef
define  postob        00000000000x
enddef
define  preob         00000000000
"onsource
"track
rdbe_atten=
rdbe=dbe_quantize=0;
rdbe=dbe_quantize=1;
"rdbe=dbe_bstate?0;
"rdbe=dbe_bstate?1;
enddef
define  ifdbb         00000000000x
lo=
lo=loa0,2472.4,usb,lcp,5
lo=loa1,2472.4,usb,rcp,5
lo=lob0,4712.4,usb,lcp,5
lo=lob1,4712.4,usb,rcp,5
lo=loc0,5832.4,usb,lcp,5
lo=loc1,5832.4,usb,rcp,5
lo=lod0,9672.4,usb,lcp,5
lo=lod1,9672.4,usb,rcp,5
"
sy=popen 's_client -h udca -c udc_lo=2472.4 2>&1' -n udcca
sy=popen 's_client -h udcb -c udc_lo=4712.4 2>&1' -n udccb
sy=popen 's_client -h udcc -c udc_lo=5832.4 2>&1' -n udccc
sy=popen 's_client -h udcd -c udc_lo=9672.4 2>&1' -n udccd
"
sy=popen 's_client -h udca -c udc_atten=0:20 2>&1' -n udcca
sy=popen 's_client -h udcb -c udc_atten=0:20 2>&1' -n udccb
sy=popen 's_client -h udcc -c udc_atten=0:20 2>&1' -n udccc
sy=popen 's_client -h udcd -c udc_atten=0:20 2>&1' -n udccd
sy=popen 's_client -h udca -c udc_atten=1:20 2>&1' -n udcca
sy=popen 's_client -h udcb -c udc_atten=1:25 2>&1' -n udccb
sy=popen 's_client -h udcc -c udc_atten=1:20 2>&1' -n udccc
sy=popen 's_client -h udcd -c udc_atten=1:20 2>&1' -n udccd
"
sy=popen 's_client -h rfd -c rfd_atten=0:20 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten=1:20 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten=2:20 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten=3:25 2>&1' -n rfdcn
enddef
define  ifdmon        00000000000x
sy=popen 's_client -h udca -c udc_atten?0 2>&1' -n udcca
sy=popen 's_client -h udca -c udc_atten?1 2>&1' -n udcca
sy=popen 's_client -h udcb -c udc_atten?0 2>&1' -n udccb
sy=popen 's_client -h udcb -c udc_atten?1 2>&1' -n udccb
sy=popen 's_client -h udcc -c udc_atten?0 2>&1' -n udccc
sy=popen 's_client -h udcc -c udc_atten?1 2>&1' -n udccc
sy=popen 's_client -h udcd -c udc_atten?0 2>&1' -n udccd
sy=popen 's_client -h udcd -c udc_atten?1 2>&1' -n udccd
"
sy=popen 's_client -h udca -c udc_lo? 2>&1' -n udcca
sy=popen 's_client -h udcb -c udc_lo? 2>&1' -n udccb
sy=popen 's_client -h udcc -c udc_lo? 2>&1' -n udccc
sy=popen 's_client -h udcd -c udc_lo? 2>&1' -n udccd
"
sy=popen 's_client -h rfd -c rfd_atten?0 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten?1 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten?2 2>&1' -n rfdcn
sy=popen 's_client -h rfd -c rfd_atten?3 2>&1' -n rfdcn
enddef
END MACGO12M
BEGIN WETTZ13S
define  iread         16158145945x
"Wettzel DBBC#1
ifa
ifb
ifc
ifd
"
"Wettzel DBBC#2
dbbc2=dbbcifa
dbbc2=dbbcifb
dbbc2=dbbcifc
dbbc2=dbbcifd
enddef
define  bread         16158145951x
"Wettzel DBBC#1
dbbc=power=1
!+1s
dbbc=power=2
!+1s
dbbc=power=3
!+1s
dbbc=power=4
"
"Wettzel DBBC#2
dbbc2=power=1
!+1s
dbbc2=power=2
!+1s
dbbc2=power=3
!+1s
dbbc2=power=4
enddef
define  midob         00000000000x
onsource
wx
dotmon
dotmon2
rxall
cable
"Wettzel DBBC#1
dbbc=version
fila10g=version
fila10g=time
"
"Wettzel DBBC#2
dbbc2=version
fila10g2=version
fila10g2=time
"
mk6=dts_id?;
antenna=status
"bread
iread
mk6=input_stream?;
enddef
define  fila10g_cfg   16158144253x
fila10g1_cfg
fila10g2_cfg
enddef
define  fila10g1_cfg  16158144253x
"Wettzel DBBC#1
"customize inputselect, ips, gateways, macs, and timesync
"for your station
fila10g=arp off
fila10g=tengbcfg eth0 ip=192.168.1.30 gateway=192.168.1.1
fila10g=tengbcfg eth0 mac=ba:dc:af:e4:be:e0
fila10g=tengbcfg eth0 nm=27
fila10g=tengbcfg eth1 ip=192.168.1.31 gateway=192.168.1.1
fila10g=tengbcfg eth1 mac=ba:dc:af:e4:be:e1
fila10g=tengbcfg eth1 nm=27
fila10g=destination 0 192.168.1.2:2630
"fila10g=destination 1 none
fila10g=destination 1 192.168.1.3:2630
"xx:xx:xx:xx:xx:xx is the destination MAC?
"fila10g=tengbarp eth0 11 xx:xx:xx:xx:xx:xx
"fila10g=tengbarp eth1 11 xx:xx:xx:xx:xx:xx
fila10g=tengbarp eth0 2 00:60:dd:44:eb:63
fila10g=tengbarp eth1 3 00:60:dd:44:eb:62
fila10g=vdif_station Ws
"
"fila10g=splitmode off
"fila10g=inputselect vsi1
fila10g=splitmode on
fila10g=inputselect vsi1-2
enddef
define  fila10g2_cfg  16158144253x
"Wettzel DBBC#2
"customize inputselect, ips, gateways, macs, and timesync
"for your station
fila10g2=arp off
fila10g2=tengbcfg eth0 ip=192.168.1.32 gateway=192.168.1.1
fila10g2=tengbcfg eth0 mac=ba:dc:af:e4:be:e2
fila10g2=tengbcfg eth0 nm=27
fila10g2=tengbcfg eth1 ip=192.168.1.33 gateway=192.168.1.1
fila10g2=tengbcfg eth1 mac=ba:dc:af:e4:be:e3
fila10g2=tengbcfg eth1 nm=27
fila10g2=destination 0 192.168.1.4:2630
"fila10g2=destination 1 none
fila10g2=destination 1 192.168.1.5:2630
"xx:xx:xx:xx:xx:xx is the destination MAC?
"fila10g2=tengbarp eth0 11 xx:xx:xx:xx:xx:xx
"fila10g2=tengbarp eth1 11 xx:xx:xx:xx:xx:xx
fila10g2=tengbarp eth0 4 00:60:dd:44:eb:5b
fila10g2=tengbarp eth1 5 00:60:dd:44:eb:5a
fila10g2=vdif_station W2
"
"fila10g2=splitmode off
"fila10g2=inputselect vsi1
fila10g2=splitmode on
fila10g2=inputselect vsi1-2
"set thread ID for second FILA10G to ID=2 and ID=3
fila10g2=regupdate vdif_header 3 131072 0x03FF0000
enddef
define  dbbcbb        16158145047x
"equivalent to:
"rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;
"rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;
"Wettzell DBBC#1 has:
" band B v-pol on ifd, core4
" band B h-pol on ifc, core3
" band A v-pol on ifb, core2
" band A h-pol on ifa, core1
dbbc=vsi_align=1
dbbc=dbbcform=flex
!+1s
"vsi2
dbbc=dbbctrk=4,2,v2-0,v2-1,v2-2,v2-3,v2-4,v2-5,v2-6,v2-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15
!+1s
dbbc=dbbctrk=3,2,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v2-8,v2-9,v2-10,v2-11,v2-12,v2-13,v2-14,v2-15
!+1s
"vsi1
dbbc=dbbctrk=4,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
!+1s
dbbc=dbbctrk=3,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
!+1s
dbbc=dbbctrk=2,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15
!+1s
dbbc=dbbctrk=1,1,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
"
"equivalent to:
"rdbe=dbe_chsel=0:1:2:4:6:9:13:14:15;
"rdbe=dbe_chsel=1:1:2:4:6:9:13:14:15;
"Wettzell DBBC#2 has:
" band D v-pol on ifd, core4
" band D h-pol on ifc, core3
" band C v-pol on ifb, core2
" band C h-pol on ifa, core1
dbbc2=vsi_align=1
dbbc2=dbbcform=flex
!+1s
"vsi2
dbbc2=dbbctrk=4,2,v2-0,v2-1,v2-2,v2-3,v2-4,v2-5,v2-6,v2-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15
!+1s
dbbc2=dbbctrk=3,2,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v2-8,v2-9,v2-10,v2-11,v2-12,v2-13,v2-14,v2-15
!+1s
"vsi1
dbbc2=dbbctrk=4,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
!+1s
dbbc2=dbbctrk=3,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
!+1s
dbbc2=dbbctrk=2,1,v1-0,v1-1,v1-2,v1-3,v1-4,v1-5,v1-6,v1-7,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15
!+1s
dbbc2=dbbctrk=1,1,p-1,p-2,p-4,p-6,p-9,p-13,p-14,p-15,v1-8,v1-9,v1-10,v1-11,v1-12,v1-13,v1-14,v1-15
enddef
define  ifdbb         16158145116x
"Wettzell BBC#1:
" band A h-pol on ifa, input1
" band A v-pol on ifb, input1
" band B h-pol on ifc, input1
" band B v-pol on ifd, input1
lo=
lo=loa,2472.4,usb,lcp,5
lo=lob,2472.4,usb,rcp,5
lo=loc,4712.4,usb,lcp,5
lo=lod,4712.4,usb,rcp,5
ifa=1,agc,1,38000
ifb=1,agc,1,38000
ifc=1,agc,1,38000
ifd=1,agc,1,38000
"
"Wettzell DBBC#2:
" band C h-pol on ifa, input1
" band C v-pol on ifb, input1
" band D h-pol on ifc, input1
" band D v-pol on ifd, input1
lo=lo2a,5832.4,usb,lcp,5
lo=lo2b,5832.4,usb,rcp,5
lo=lo2c,9672.4,usb,lcp,5
lo=lo2d,9672.4,usb,rcp,5
"ifa=1,agc,1,38000
"ifb=1,agc,1,38000
"ifc=1,agc,1,38000
"ifd=1,agc,1,38000
dbbc2=dbbcifa=1,agc,1,38000
dbbc2=dbbcifb=1,agc,1,38000
dbbc2=dbbcifc=1,agc,1,38000
dbbc2=dbbcifd=1,agc,1,38000
enddef
define  mk6bb         00000000000x
"Fila10G#1 eth0 connects to Mark6 eth2
"Fila10G#1 eth1 connects to Mark6 eth3
"Fila10G#2 eth0 connects to Mark6 eth4
"Fila10G#2 eth1 connects to Mark6 eth5
mk6=input_stream = delete ;
!+4s
mk6=input_stream = add : bandA : vdif : 8224 : 50 : 42 : eth2 : 192.168.1.30 : 2630;
mk6=input_stream = add : bandB : vdif : 8224 : 50 : 42 : eth3 : 192.168.1.31 : 2630;
mk6=input_stream = add : bandC : vdif : 8224 : 50 : 42 : eth4 : 192.168.1.32 : 2630;
mk6=input_stream = add : bandD : vdif : 8224 : 50 : 42 : eth5 : 192.168.1.33 : 2630;
mk6=input_stream = commit;
enddef
define  sched_initi   00000000000x
azeloff=0d,0d
!+2s
antenna=azeloff,0,0,0
setuprx
proc_library
ifdbb
dbbcbb
fila10gbb
mk6bb
!+1s
mk6=mstat?all
enddef
define  setupbb       00000000000x
pcalon
"tpicd=stop
ifdbb
"tpicd=no,100
"tpicd
enddef
define  checkmk6      00000000000x
!+2s
mk6=record=off;
!+2s
mk6=scan_check?;
enddef
define  pcalon        00000000000x
"pcal should be on
enddef
define  preob         00000000000x
"onsource
ifman
enddef
define  postob        00000000000x
enddef
define  fila10gbb     16158144311x
" Wettzell FiLa10G#1
fila10g=vsi_bitmask 0xffffffff 0xffffffff
" samplerate: input_clock decimation
fila10g=vsi_samplerate 64000000 1
"frame: bits/chan channel bytes
fila10g=vdif_frame 2 16 8192
fila10g=start vdif+vdif
"
" Wettzell FiLa10G#2
fila10g2=vsi_bitmask 0xffffffff 0xffffffff
" samplerate: input_clock decimation
fila10g2=vsi_samplerate 64000000 1
"frame: bits/chan channel bytes
fila10g2=vdif_frame 2 16 8192
fila10g2=start vdif+vdif
enddef
define  ifman         00000000000x
"Wettzel DBBC#1
ifa=*,man,*
ifb=*,man,*
ifc=*,man,*
ifd=*,man,*
"Wettzel DBBC#2
dbbc2=dbbcifa=1,man,1,38000
dbbc2=dbbcifb=1,man,1,38000
dbbc2=dbbcifc=1,man,1,38000
dbbc2=dbbcifd=1,man,1,38000
enddef
define  ifagc         00000000000x
"Wettzel DBBC#1
ifa=*,agc,*
ifb=*,agc,*
ifc=*,agc,*
ifd=*,agc,*
"Wettzel DBBC#2
dbbc2=dbbcifa=1,agc,1,38000
dbbc2=dbbcifb=1,agc,1,38000
dbbc2=dbbcifc=1,agc,1,38000
dbbc2=dbbcifd=1,agc,1,38000
enddef
END WETTZ13S
$CODES
F GEOSX    SX WETTZ13S
C SX X  8212.99  10000.0    1 Mk341:1    8.00 1(-1,7)
C SX X  8252.99  10000.0    2 Mk341:1    8.00 1(0)
C SX X  8352.99  10000.0    3 Mk341:1    8.00 1(1)
C SX X  8512.99  10000.0    4 Mk341:1    8.00 1(2)
C SX X  8732.99  10000.0    5 Mk341:1    8.00 1(3)
C SX X  8852.99  10000.0    6 Mk341:1    8.00 1(4)
C SX X  8912.99  10000.0    7 Mk341:1    8.00 1(5)
C SX X  8932.99  10000.0    8 Mk341:1    8.00 1(6,8)
C SX S  2225.99  10000.0    9 Mk341:1    8.00 1(9)
C SX S  2245.99  10000.0   10 Mk341:1    8.00 1(10)
C SX S  2265.99  10000.0   11 Mk341:1    8.00 1(11)
C SX S  2295.99  10000.0   12 Mk341:1    8.00 1(12)
C SX S  2345.99  10000.0   13 Mk341:1    8.00 1(13)
C SX S  2365.99  10000.0   14 Mk341:1    8.00 1(14)
F GEOSX    SX MACGO12M
C SX X  8212.99  10000.0    1 Mk341:2    8.00 1(-1,3)
C SX X  8252.99  10000.0    2 Mk341:2    8.00 1(7)
C SX X  8352.99  10000.0    3 Mk341:2    8.00 1(11)
C SX X  8512.99  10000.0    4 Mk341:2    8.00 1(15)
C SX X  8732.99  10000.0    5 Mk341:2    8.00 1(19)
C SX X  8852.99  10000.0    6 Mk341:2    8.00 1(23)
C SX X  8912.99  10000.0    7 Mk341:2    8.00 1(27)
C SX X  8932.99  10000.0    8 Mk341:2    8.00 1(0,4)
C SX S  2225.99  10000.0    9 Mk341:2    8.00 1(8)
C SX S  2245.99  10000.0   10 Mk341:2    8.00 1(12)
C SX S  2265.99  10000.0   11 Mk341:2    8.00 1(16)
C SX S  2295.99  10000.0   12 Mk341:2    8.00 1(20)
C SX S  2345.99  10000.0   13 Mk341:2    8.00 1(24)
C SX S  2365.99  10000.0   14 Mk341:2    8.00 1(28)
R SX   16.000
B SX
L M SX X  1N 8080       1  U
L M SX X  1N 8080       2  U
L M SX X  1N 8080       3  U
L M SX X  1N 8080       4  U
L M SX X  3N 8580.1     5  U
L M SX X  3N 8580.1     6  U
L M SX X  3N 8580.1     7  U
L M SX X  3N 8580.1     8  U
L M SX S  2N 2020       9  U
L M SX S  2N 2020       10 U
L M SX S  2N 2020       11 U
L M SX S  2N 2020       12 U
L M SX S  2N 2020       13 U
L M SX S  2N 2020       14 U
L S SX X  A1 7580       1  U
L S SX X  A1 7580       2  U
L S SX X  A1 7580       3  U
L S SX X  A1 7580       4  U
L S SX X  B1 7580       5  U
L S SX X  B1 7580       6  U
L S SX X  B1 7580       7  U
L S SX X  B1 7580       8  U
L S SX S  C1 2020       9  U
L S SX S  C1 2020       10 U
L S SX S  C1 2020       11 U
L S SX S  C1 2020       12 U
L S SX S  D1 2020       13 U
L S SX S  D1 2020       14 U
